# Organizando DataFrames

In [19]:
import pandas as pd

In [20]:
data = [[1,2,3], [4,5,6], [7,8,9]]
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [21]:
list('321')

['3', '2', '1']

In [22]:
df = pd.DataFrame(data, list('321'))
df

   0  1  2
3  1  2  3
2  4  5  6
1  7  8  9

In [23]:
df = pd.DataFrame(data, list('321'), list('zyx'))
df

   z  y  x
3  1  2  3
2  4  5  6
1  7  8  9

In [24]:
df.sort_index(inplace=True)
df

   z  y  x
1  7  8  9
2  4  5  6
3  1  2  3

In [25]:
df.sort_index(inplace=True, axis=1)
df

   x  y  z
1  9  8  7
2  6  5  4
3  3  2  1

In [26]:
df.sort_values(by='x', inplace=True)
df

   x  y  z
3  3  2  1
2  6  5  4
1  9  8  7

In [27]:
df.sort_values(by='3', axis= 1 ,inplace=True)
df

   z  y  x
3  1  2  3
2  4  5  6
1  7  8  9

In [28]:
df.sort_values(by= ['x', 'y'], inplace=True)
df

   z  y  x
3  1  2  3
2  4  5  6
1  7  8  9

In [29]:
data_dois = [[9,6,3], [8,5,2], [7,4,1]]
df_dois = pd.DataFrame(data_dois, list('zyx'), list('cba'))
df_dois

   c  b  a
z  9  6  3
y  8  5  2
x  7  4  1

In [32]:
df_dois.sort_index()

   c  b  a
x  7  4  1
y  8  5  2
z  9  6  3

In [33]:
df_dois
df_dois.sort_index(axis=1)
df_dois

   c  b  a
z  9  6  3
y  8  5  2
x  7  4  1