# Relatório de Análise II

## Tipos de Imóveis

In [1]:
import pandas as pd
import os

In [2]:
current_path = os.getcwd()
#print(current_path)
#dados/aluguel.csv
dados_seguradora = pd.read_csv(os.path.join(current_path,'dados','aluguel.csv'),sep=';')

In [3]:
dados_seguradora

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
...,...,...,...,...,...,...,...,...,...
32955,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
32956,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
32957,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
32958,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN
32959,Conjunto Comercial/Sala,Centro,0,0,0,250,6500.0,4206.0,1109.0

In [4]:
dados_seguradora['Tipo']

0                      Quitinete
1                           Casa
2        Conjunto Comercial/Sala
3                    Apartamento
4                    Apartamento
                  ...
32955                  Quitinete
32956                Apartamento
32957                Apartamento
32958                Apartamento
32959    Conjunto Comercial/Sala
Name: Tipo, Length: 32960, dtype: object

In [5]:
dados_seguradora.Tipo

0                      Quitinete
1                           Casa
2        Conjunto Comercial/Sala
3                    Apartamento
4                    Apartamento
                  ...
32955                  Quitinete
32956                Apartamento
32957                Apartamento
32958                Apartamento
32959    Conjunto Comercial/Sala
Name: Tipo, Length: 32960, dtype: object

In [6]:
tipo_de_imovel = dados_seguradora['Tipo']

In [7]:
type(tipo_de_imovel)

pandas.core.series.Series

### Tipos de Imóveis

In [8]:
tipo_de_imovel_sem_duplicados = tipo_de_imovel.drop_duplicates() #faz unique duplica valoresúnicos
tipo_de_imovel_sem_duplicados

0                          Quitinete
1                               Casa
2            Conjunto Comercial/Sala
3                        Apartamento
7                 Casa de Condomínio
16                    Prédio Inteiro
17                              Flat
29                        Loja/Salão
80           Galpão/Depósito/Armazém
83                    Casa Comercial
117                     Casa de Vila
159                   Terreno Padrão
207                      Box/Garagem
347                             Loft
589      Loja Shopping/ Ct Comercial
2157                         Chácara
3354           Loteamento/Condomínio
4379                           Sítio
4721                   Pousada/Chalé
6983                          Studio
9687                           Hotel
23614                      Indústria
Name: Tipo, dtype: object

In [9]:
print(f"tipo_de_imovel_sem_duplicados:\n{tipo_de_imovel_sem_duplicados.describe()}\n\ntipo_de_imovel:\n{tipo_de_imovel.describe()}")

tipo_de_imovel_sem_duplicados:
count                 22
unique                22
top       Prédio Inteiro
freq                   1
Name: Tipo, dtype: object

tipo_de_imovel:
count           32960
unique             22
top       Apartamento
freq            19532
Name: Tipo, dtype: object

## Organizando a Visualização

In [10]:
tipo_de_imovel_sem_duplicados = pd.DataFrame(tipo_de_imovel_sem_duplicados)

In [11]:
tipo_de_imovel_sem_duplicados

                              Tipo
0                        Quitinete
1                             Casa
2          Conjunto Comercial/Sala
3                      Apartamento
7               Casa de Condomínio
16                  Prédio Inteiro
17                            Flat
29                      Loja/Salão
80         Galpão/Depósito/Armazém
83                  Casa Comercial
117                   Casa de Vila
159                 Terreno Padrão
207                    Box/Garagem
347                           Loft
589    Loja Shopping/ Ct Comercial
2157                       Chácara
3354         Loteamento/Condomínio
4379                         Sítio
4721                 Pousada/Chalé
6983                        Studio
9687                         Hotel
23614                    Indústria

In [12]:
tipo_de_imovel_sem_duplicados.index

Int64Index([    0,     1,     2,     3,     7,    16,    17,    29,    80,
               83,   117,   159,   207,   347,   589,  2157,  3354,  4379,
             4721,  6983,  9687, 23614],
           dtype='int64')

In [13]:
tipo_de_imovel_sem_duplicados.count()

Tipo    22
dtype: int64

In [22]:
tipo_de_imovel_sem_duplicados.shape

(22, 1)

In [14]:
tipo_de_imovel_sem_duplicados.shape[0]

22

In [15]:
len(tipo_de_imovel_sem_duplicados)

22

In [16]:
for i in range(tipo_de_imovel_sem_duplicados.shape[0]):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21

In [26]:
tipo_de_imovel_sem_duplicados.index = range(tipo_de_imovel_sem_duplicados.shape[0])
tipo_de_imovel_sem_duplicados.index

RangeIndex(start=0, stop=22, step=1)

In [24]:

tipo_de_imovel_sem_duplicados

ìndices                         Tipo
0                          Quitinete
1                               Casa
2            Conjunto Comercial/Sala
3                        Apartamento
4                 Casa de Condomínio
5                     Prédio Inteiro
6                               Flat
7                         Loja/Salão
8            Galpão/Depósito/Armazém
9                     Casa Comercial
10                      Casa de Vila
11                    Terreno Padrão
12                       Box/Garagem
13                              Loft
14       Loja Shopping/ Ct Comercial
15                           Chácara
16             Loteamento/Condomínio
17                             Sítio
18                     Pousada/Chalé
19                            Studio
20                             Hotel
21                         Indústria

In [18]:
tipo_de_imovel_sem_duplicados.columns.name = 'ìndices'

In [19]:
tipo_de_imovel_sem_duplicados

ìndices                         Tipo
0                          Quitinete
1                               Casa
2            Conjunto Comercial/Sala
3                        Apartamento
4                 Casa de Condomínio
5                     Prédio Inteiro
6                               Flat
7                         Loja/Salão
8            Galpão/Depósito/Armazém
9                     Casa Comercial
10                      Casa de Vila
11                    Terreno Padrão
12                       Box/Garagem
13                              Loft
14       Loja Shopping/ Ct Comercial
15                           Chácara
16             Loteamento/Condomínio
17                             Sítio
18                     Pousada/Chalé
19                            Studio
20                             Hotel
21                         Indústria