# Lógica de Código Pyplan

### Pacotes

In [72]:
import os as os
import numpy as np
import pandas as pd
import xarray as xr

#### Valor Percentual

In [73]:
# Valor Percentual = (Atual - Anterior)/Anterior 
atual = 30000
anterior = 50000
valor_percentual = ((atual - anterior)/anterior) * 100
str(valor_percentual) + ' %'

'-40.0 %'

#### Defininindo um Index com Compreensão de lista (List comprehension)

In [74]:
data  = {'Coluna1':['Regional1'],  'Coluna2':['Região Leste'], 'Coluna3':['Atacado'], 'vol_dia':[10000]}
_df = pd.DataFrame(data)
_df

     Coluna1       Coluna2  Coluna3  vol_dia
0  Regional1  Região Leste  Atacado    10000

In [75]:
_df.set_index(['Coluna1', 'Coluna2', 'Coluna3', 'vol_dia'])

Empty DataFrame
Columns: []
Index: [(Regional1, Região Leste, Atacado, 10000)]

In [76]:
_df.set_index([col for col in _df if col != 'vol_dia'])

                                vol_dia
Coluna1   Coluna2      Coluna3
Regional1 Região Leste Atacado    10000

#### Deletando Colunas

In [188]:
data = {'col1':[1,2], 'col2':[1,2], 'col3':[1,2]}
_df = pd.DataFrame(data)
_df

   col1  col2  col3
0     1     1     1
1     2     2     2

In [189]:
_df = _df.drop(columns=['col3'])
_df

   col1  col2
0     1     1
1     2     2

In [190]:
del _df['col2']
_df

   col1
0     1
1     2

In [191]:
_df.insert(loc=1, column='MesTime', value=['2021.01','2021.02'])
_df

   col1  MesTime
0     1  2021.01
1     2  2021.02

In [193]:
_datas = {'2021.01':'jan', '2021.02':'fev'}
_df = _df.replace({'MesTime':_datas})
_df

   col1 MesTime
0     1     jan
1     2     fev

#### Filtros

In [195]:
_df[ (_df['col1']==1) & (_df['MesTime']=='jan') ]

   col1 MesTime
0     1     jan

In [197]:
_list = ['fev']
_df[ _df['MesTime'].isin(_list)]

   col1 MesTime
1     2     fev

#### DataFrames

In [79]:
# array is rows not columns, the coluns is the values inside of array.
# [0,1,2,3]
# [1,8,3,0]
# [2,9,3,0]
# [3,2,3,0]

data = np.array([ [0,1,2,3], [1,8,3,0], [2,9,3,0], [3,2,3,0] ]) 
_df1 = pd.DataFrame(data, columns=['id', 'col1', 'col2', 'col3'])
_df1

   id  col1  col2  col3
0   0     1     2     3
1   1     8     3     0
2   2     9     3     0
3   3     2     3     0

In [80]:
data = np.array([[0,1,2,3], [1,1,2,8], [2,5,2,4], [3,9,6,8]])
_df2 = pd.DataFrame(data, columns=['id', 'col4', 'col5', 'col6'])
_df2

   id  col4  col5  col6
0   0     1     2     3
1   1     1     2     8
2   2     5     2     4
3   3     9     6     8

#### Mesclando Dataframes

In [81]:
                    
_df = _df1.merge(_df2, on=['id'], how='left')
_df

   id  col1  col2  col3  col4  col5  col6
0   0     1     2     3     1     2     3
1   1     8     3     0     1     2     8
2   2     9     3     0     5     2     4
3   3     2     3     0     9     6     8

#### Pivotando Dataframes

In [82]:
_df_pivot = pd.pivot_table(_df,
                           values='col3', 
                           index='id',
                           columns=['col1'], 
                           aggfunc=np.sum).reset_index()

_df_pivot

col1  id    1    2    8    9
0      0  3.0  NaN  NaN  NaN
1      1  NaN  NaN  0.0  NaN
2      2  NaN  NaN  NaN  0.0
3      3  NaN  0.0  NaN  NaN

#### Substituindo Valores

In [83]:
data  = {'Coluna1':['Regional1'],  'Coluna2':['Região Leste'], 'Coluna3':['Atacado'], 'vol_dia':[10000]}
_df = pd.DataFrame(data)
_df

     Coluna1       Coluna2  Coluna3  vol_dia
0  Regional1  Região Leste  Atacado    10000

In [84]:
_df['vol_dia'] = np.where(_df['vol_dia']== 1000, True, False)
_df

     Coluna1       Coluna2  Coluna3  vol_dia
0  Regional1  Região Leste  Atacado    False

In [85]:
data  = {'Coluna1':['Regional1'],  'Coluna2':['Região Leste'], 'Coluna3':['Atacado'], 'vol_dia':[10000]}
_df = pd.DataFrame(data)
_df

     Coluna1       Coluna2  Coluna3  vol_dia
0  Regional1  Região Leste  Atacado    10000

In [86]:
_df['vol_dia'] = np.where(_df['vol_dia']== 10000, True, False)
_df

     Coluna1       Coluna2  Coluna3  vol_dia
0  Regional1  Região Leste  Atacado     True

In [87]:
_df = _df.replace('Regional1','Regional2')
_df

     Coluna1       Coluna2  Coluna3  vol_dia
0  Regional2  Região Leste  Atacado     True

In [88]:
_df = _df.replace('Região Leste','Região Leste Cambuci2 66')
_df

     Coluna1                   Coluna2  Coluna3  vol_dia
0  Regional2  Região Leste Cambuci2 66  Atacado     True

#### Strings

In [89]:
_df['Coluna2'].str.split(pat=' ')

0    [Região, Leste, Cambuci2, 66]
Name: Coluna2, dtype: object

In [90]:
_df['Coluna2'].str.split(n=5, expand=True)

        0      1         2   3
0  Região  Leste  Cambuci2  66

In [91]:
_df['Coluna2'].str.split(n=1)

0    [Região, Leste Cambuci2 66]
Name: Coluna2, dtype: object

In [92]:
_df['split_cols'] = _df['Coluna2'].str.split(pat=' ').str[0]
_df

     Coluna1                   Coluna2  Coluna3  vol_dia split_cols
0  Regional2  Região Leste Cambuci2 66  Atacado     True     Região

In [93]:
_df['split_cols'] = _df['Coluna2'].str.split(pat=' ').str[1]
_df

     Coluna1                   Coluna2  Coluna3  vol_dia split_cols
0  Regional2  Região Leste Cambuci2 66  Atacado     True      Leste

In [94]:
_df['split_cols'] = _df['Coluna2'].str.split(pat=' ').str[0]
_df

     Coluna1                   Coluna2  Coluna3  vol_dia split_cols
0  Regional2  Região Leste Cambuci2 66  Atacado     True     Região

#### Criando Index e Atribuindo um dicionário

In [95]:
index = pd.Index([
    # Moinhos > Cimento
    '[A1] Dias Úteis',
    '[B1] Dias Cobertura Cimento',
    '[C1] Demanda Comercial de Cimento',
    '[D1] Capacidade Total Moinhos',
    '[E1] Estoque Inicial = [N1]',
    '[F1] Estoque de Segurança =  [C1/A1 * B1]',
    '[G1] Entrada de Estoque = MAX[0, F1 - E1]',
    '[H1] Saída de Estoque =  MIN[0, F1 - E1]',
    '[I1] Requisito de Estoque = [G1 + H1]',
    '[J1] Requisito Total de Produção = [J1 + C1]',
    '[L1] Produção Planejada de Cimento = MAX[J1,D1]',
    '[M1] Cimento Disponível = [E1 + A3 - F1]',
    '[N1] Estoque Final = [E1 + A3 - C3]',
    '[O1] Alerta de Estoque Cimento',
    # Fornos > Clinquer
    '[A2] Dias Cobertura Clínquer',
    '[B2] Percentual de Clínquer',
    '[C2] Demanda de Clínquer para Cimento = [L1 * B2]',
    '[D2] Capacidade Total Fornos',
    '[E2] Estoque Inicial = [Q2]',
    '[F2] Estoque de Segurança = [C2/A1 * A2]',
    '[G2] Entrada de Estoque = MAX[0, F2 - E2]',
    '[H2] Saída de Estoque = MIN[0, F2 - E2]',
    '[I2] Requisito de estoque = [G2 - H2]',
    '[J2] Tranferências Saída = [L1 * B2]',
    '[L2] Requisito Total de Produção = [I2 + C2 + J2]',
    '[M2] Tranferências Entrada',
    '[N2] Produção Efetiva de Clínquer = MIN[L2,D2] + M2',
    '[N2.1] Produção Efetiva de Estoque Clínquer',      
    '[O2] % de Produção Própria = [N2 * (C2+I2)/(L2)]',
    '[P2] % de Produção Externa = [N2 * J2 /(L2)]',
    '[Q2] Estoque Final = [E2 + O2 - U2]',
    '[R2] Venda para outros Players',
    '[S2] Clínquer Dísponivel = [E2 + O2 - F2 + R2]',
    '[T2] Clínquer Dísponivel Convertido em Cimento',
    '[U2] Demanda Restrita de Clínquer = [S2/B2]',
    '[V2] Alerta de estoque Cimento',
    # Cimento Novamente
    '[A3] Produção efetiva de cimento = [O2/B2] trans. [N2/B2]',
    '[B3] Cimento disponível = M1',
    '[C3] Demanda restrita = MIN[B3,C1]',
    '[D3] Demanda não abastecida = [C1 - C3]',
    '[E3] Demanda irrestrita = C1'
    ])

In [96]:
index

Index(['[A1] Dias Úteis', '[B1] Dias Cobertura Cimento',
       '[C1] Demanda Comercial de Cimento', '[D1] Capacidade Total Moinhos',
       '[E1] Estoque Inicial = [N1]',
       '[F1] Estoque de Segurança =  [C1/A1 * B1]',
       '[G1] Entrada de Estoque = MAX[0, F1 - E1]',
       '[H1] Saída de Estoque =  MIN[0, F1 - E1]',
       '[I1] Requisito de Estoque = [G1 + H1]',
       '[J1] Requisito Total de Produção = [J1 + C1]',
       '[L1] Produção Planejada de Cimento = MAX[J1,D1]',
       '[M1] Cimento Disponível = [E1 + A3 - F1]',
       '[N1] Estoque Final = [E1 + A3 - C3]', '[O1] Alerta de Estoque Cimento',
       '[A2] Dias Cobertura Clínquer', '[B2] Percentual de Clínquer',
       '[C2] Demanda de Clínquer para Cimento = [L1 * B2]',
       '[D2] Capacidade Total Fornos', '[E2] Estoque Inicial = [Q2]',
       '[F2] Estoque de Segurança = [C2/A1 * A2]',
       '[G2] Entrada de Estoque = MAX[0, F2 - E2]',
       '[H2] Saída de Estoque = MIN[0, F2 - E2]',
       '[I2] Requisito de estoque = [G2 - H2]',
       '[J2] Tranferências Saída = [L1 * B2]',
       '[L2] Requisito Total de Produção = [I2 + C2 + J2]',
       '[M2] Tranferências Entrada',
       '[N2] Produção Efetiva de Clínquer = MIN[L2,D2] + M2',
       '[N2.1] Produção Efetiva de Estoque Clínquer',
       '[O2] % de Produção Própria = [N2 * (C2+I2)/(L2)]',
       '[P2] % de Produção Externa = [N2 * J2 /(L2)]',
       '[Q2] Estoque Final = [E2 + O2 - U2]', '[R2] Venda para outros Players',
       '[S2] Clínquer Dísponivel = [E2 + O2 - F2 + R2]',
       '[T2] Clínquer Dísponivel Convertido em Cimento',
       '[U2] Demanda Restrita de Clínquer = [S2/B2]',
       '[V2] Alerta de estoque Cimento',
       '[A3] Produção efetiva de cimento = [O2/B2] trans. [N2/B2]',
       '[B3] Cimento disponível = M1', '[C3] Demanda restrita = MIN[B3,C1]',
       '[D3] Demanda não abastecida = [C1 - C3]',
       '[E3] Demanda irrestrita = C1'],
      dtype='object')

In [97]:
# Criando um dionário com os valores do index

_index = index
_len = len(_index)
_dict = {}

for i in range(_len):
    _dict[_index[i]] = i

_dict

{'[A1] Dias Úteis': 0,
 '[B1] Dias Cobertura Cimento': 1,
 '[C1] Demanda Comercial de Cimento': 2,
 '[D1] Capacidade Total Moinhos': 3,
 '[E1] Estoque Inicial = [N1]': 4,
 '[F1] Estoque de Segurança =  [C1/A1 * B1]': 5,
 '[G1] Entrada de Estoque = MAX[0, F1 - E1]': 6,
 '[H1] Saída de Estoque =  MIN[0, F1 - E1]': 7,
 '[I1] Requisito de Estoque = [G1 + H1]': 8,
 '[J1] Requisito Total de Produção = [J1 + C1]': 9,
 '[L1] Produção Planejada de Cimento = MAX[J1,D1]': 10,
 '[M1] Cimento Disponível = [E1 + A3 - F1]': 11,
 '[N1] Estoque Final = [E1 + A3 - C3]': 12,
 '[O1] Alerta de Estoque Cimento': 13,
 '[A2] Dias Cobertura Clínquer': 14,
 '[B2] Percentual de Clínquer': 15,
 '[C2] Demanda de Clínquer para Cimento = [L1 * B2]': 16,
 '[D2] Capacidade Total Fornos': 17,
 '[E2] Estoque Inicial = [Q2]': 18,
 '[F2] Estoque de Segurança = [C2/A1 * A2]': 19,
 '[G2] Entrada de Estoque = MAX[0, F2 - E2]': 20,
 '[H2] Saída de Estoque = MIN[0, F2 - E2]': 21,
 '[I2] Requisito de estoque = [G2 - H2]': 22,
 '[J2] Tranferências Saída = [L1 * B2]': 23,
 '[L2] Requisito Total de Produção = [I2 + C2 + J2]': 24,
 '[M2] Tranferências Entrada': 25,
 '[N2] Produção Efetiva de Clínquer = MIN[L2,D2] + M2': 26,
 '[N2.1] Produção Efetiva de Estoque Clínquer': 27,
 '[O2] % de Produção Própria = [N2 * (C2+I2)/(L2)]': 28,
 '[P2] % de Produção Externa = [N2 * J2 /(L2)]': 29,
 '[Q2] Estoque Final = [E2 + O2 - U2]': 30,
 '[R2] Venda para outros Players': 31,
 '[S2] Clínquer Dísponivel = [E2 + O2 - F2 + R2]': 32,
 '[T2] Clínquer Dísponivel Convertido em Cimento': 33,
 '[U2] Demanda Restrita de Clínquer = [S2/B2]': 34,
 '[V2] Alerta de estoque Cimento': 35,
 '[A3] Produção efetiva de cimento = [O2/B2] trans. [N2/B2]': 36,
 '[B3] Cimento disponível = M1': 37,
 '[C3] Demanda restrita = MIN[B3,C1]': 38,
 '[D3] Demanda não abastecida = [C1 - C3]': 39,
 '[E3] Demanda irrestrita = C1': 40}

In [98]:
current_path = os.getcwd()
current_path

'c:\\Users\\alexsandro.ignacio\\OneDrive - WCA Soluções de Inteligência Comercial\\Documentos\\Docs\\Git\\python_developer\\Planejamento - Lógicas'

In [99]:
_directory_name = 'Data Base'
_file_name = 'Analise_de_Capacidade_base _ 2022-02-25-12-16-27.csv'

In [100]:
target_path = os.path.join(current_path, _directory_name, _file_name)
target_path

'c:\\Users\\alexsandro.ignacio\\OneDrive - WCA Soluções de Inteligência Comercial\\Documentos\\Docs\\Git\\python_developer\\Planejamento - Lógicas\\Data Base\\Analise_de_Capacidade_base _ 2022-02-25-12-16-27.csv'

In [101]:
_df = pd.read_csv(target_path,sep=';')
_df.head(1)

,indice_relatorio_analise_de_capacidades,index_codigo_unidade,index_datas,Relatórios de Analise de Capacidade
0,[A1] Dias Úteis,API,2021-06,23.0

In [102]:
_df = _df.rename(columns={'indice_relatorio_analise_de_capacidades':'Relatórios de Análise de Capacidade', 
                          'index_codigo_unidade':'Código Unidades', 
                          'index_datas':'Datas', 
                          'Relatórios de Analise de Capacidade':'values'}).replace('-',0)

_df.head(2)

  Relatórios de Análise de Capacidade Código Unidades    Datas values
0                     [A1] Dias Úteis             API  2021-06   23.0
1                     [A1] Dias Úteis             API  2021-07   24.5

In [103]:
_df.dtypes

Relatórios de Análise de Capacidade    object
Código Unidades                        object
Datas                                  object
values                                 object
dtype: object

In [104]:
_df['Datas'] = pd.to_datetime(_df['Datas'])
_df['values'] = _df['values'].astype(float)
_df2 = _df
_df.dtypes

Relatórios de Análise de Capacidade            object
Código Unidades                                object
Datas                                  datetime64[ns]
values                                        float64
dtype: object

In [105]:
# Tabela Normal
dicionario_ordem_relatorio = _dict

_df = _df.pivot_table(index=['Código Unidades','Relatórios de Análise de Capacidade'], columns='Datas', values='values')

_df = _df.reset_index().sort_values(['Código Unidades', 'Relatórios de Análise de Capacidade'])

_df['Ordem'] = _df['Relatórios de Análise de Capacidade']
_df['Ordem']  = _df['Ordem'].map(dicionario_ordem_relatorio)
# # _df['Ordem'] = _df['Relatórios de Análise de Capacidade'].str.split(pat=' ').str[0]
# # _df['Ordem']  = _df['Ordem'].replace(dicionario_ordem_relatorio)


_df = _df.sort_values(['Código Unidades', 'Ordem'])
# #  _df.drop(columns='Ordem', inplace=True)

_df.head(2)

Datas,Código Unidades,Relatórios de Análise de Capacidade,2021-06-01 00:00:00,2021-07-01 00:00:00,2021-08-01 00:00:00,2021-09-01 00:00:00,2021-10-01 00:00:00,2021-11-01 00:00:00,2021-12-01 00:00:00,2022-01-01 00:00:00,...,2022-09-01 00:00:00,2022-10-01 00:00:00,2022-11-01 00:00:00,2022-12-01 00:00:00,2023-01-01 00:00:00,2023-02-01 00:00:00,2023-03-01 00:00:00,2023-04-01 00:00:00,2023-05-01 00:00:00,Ordem
0,API,[A1] Dias Úteis,23.0,24.5,24.0,23.0,22.50,22.00,23.50,23.0,...,23.0,22.5,22.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,API,[B1] Dias Cobertura Cimento,10.0,10.0,10.0,10.0,3.23,3.25,4.03,10.0,...,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0,1

In [106]:
# Tabela Dinâmica
_df2

,Relatórios de Análise de Capacidade,Código Unidades,Datas,values
0,[A1] Dias Úteis,API,2021-06-01,23.000000
1,[A1] Dias Úteis,API,2021-07-01,24.500000
2,[A1] Dias Úteis,API,2021-08-01,24.000000
3,[A1] Dias Úteis,API,2021-09-01,23.000000
4,[A1] Dias Úteis,API,2021-10-01,22.500000
...,...,...,...,...
9835,[E3] Demanda irrestrita = C1,SPA,2023-01-01,53605.599116
9836,[E3] Demanda irrestrita = C1,SPA,2023-02-01,46132.299512
9837,[E3] Demanda irrestrita = C1,SPA,2023-03-01,59553.953942
9838,[E3] Demanda irrestrita = C1,SPA,2023-04-01,52896.214562
9839,[E3] Demanda irrestrita = C1,SPA,2023-05-01,60986.508322

#### Exemplos para criar parte do json do formulário

In [178]:
# Columns para Armar Form
_n = 1
_cols1 = ['{"type":"numeric", "field":' + f'"Period_{i:03d}"'  for i in range(1, 145)]
_cols2 = [", " + '"style":{"color":"#000", "backgroundColor": "#FFF8E3"}, ' + '"format":"0.00", ' + ' "header":' + f'"S{j}"' + ', "readOnly":false, ' + '"columnLength":5}'  for i in range(1, 25) for j in range( 1,7)] 

result = [_cols1[i] + _cols2[i] for i in range(len(_cols1))]
result[0], len(result)
result = [result[i].replace('"',"'") for i in range(len(result))]
# result[0]

In [179]:
import json 

with open('json_data.json', 'w', encoding ='utf-8') as outfile:
    json.dump(result, outfile, ensure_ascii=False, indent=4)
    outfile.close()

In [108]:
# Nested list comprehension tuple 

result = [f'{i,j}'for i, j in zip(range(1, 145), range(1, 7))]
result

['(1, 1)', '(2, 2)', '(3, 3)', '(4, 4)', '(5, 5)', '(6, 6)']

In [109]:
# Nested list comprehension
matrix = [ f'{i, j}' for i in range(1,145) for j in range(1,7)]
matrix[0:2]

['(1, 1)', '(1, 2)']

In [110]:
idx_temporal = ['2021-06', '2021-07', '2021-08', '2021-09', '2021-10', '2021-11', '2021-12', '2022-01', '2022-02', '2022-03', '2022-04', '2022-05', '2022-06', '2022-07', '2022-08', '2022-09', '2022-10', '2022-11', '2022-12', '2023-01', '2023-02', '2023-03', '2023-04', '2023-05']

In [111]:
# Nested columns receive new index.
_df = pd.DataFrame({'label':idx_temporal})
_df['colspan'] = 6
_df.to_dict('record')
_df

C:\Users\ALEXSA~1.IGN\AppData\Local\Temp/ipykernel_5112/460194324.py:4: FutureWarning: Using short name for 'orient' is deprecated. Only the options: ('dict', list, 'series', 'split', 'records', 'index') will be used in a future version. Use one of the above to silence this warning.
  _df.to_dict('record')

      label  colspan
0   2021-06        6
1   2021-07        6
2   2021-08        6
3   2021-09        6
4   2021-10        6
5   2021-11        6
6   2021-12        6
7   2022-01        6
8   2022-02        6
9   2022-03        6
10  2022-04        6
11  2022-05        6
12  2022-06        6
13  2022-07        6
14  2022-08        6
15  2022-09        6
16  2022-10        6
17  2022-11        6
18  2022-12        6
19  2023-01        6
20  2023-02        6
21  2023-03        6
22  2023-04        6
23  2023-05        6

In [112]:
# Nested columns receive new index.

idx_temporal.insert(0, 'Marcha Fornos')
_df = pd.DataFrame({'label':idx_temporal})
_df['colspan'] = 6
_df['colspan'][0] = 3
_df = _df.to_dict('record')
_df

C:\Users\ALEXSA~1.IGN\AppData\Local\Temp/ipykernel_5112/1003000312.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _df['colspan'][0] = 3
C:\Users\ALEXSA~1.IGN\AppData\Local\Temp/ipykernel_5112/1003000312.py:7: FutureWarning: Using short name for 'orient' is deprecated. Only the options: ('dict', list, 'series', 'split', 'records', 'index') will be used in a future version. Use one of the above to silence this warning.
  _df = _df.to_dict('record')

[{'label': 'Marcha Fornos', 'colspan': 3},
 {'label': '2021-06', 'colspan': 6},
 {'label': '2021-07', 'colspan': 6},
 {'label': '2021-08', 'colspan': 6},
 {'label': '2021-09', 'colspan': 6},
 {'label': '2021-10', 'colspan': 6},
 {'label': '2021-11', 'colspan': 6},
 {'label': '2021-12', 'colspan': 6},
 {'label': '2022-01', 'colspan': 6},
 {'label': '2022-02', 'colspan': 6},
 {'label': '2022-03', 'colspan': 6},
 {'label': '2022-04', 'colspan': 6},
 {'label': '2022-05', 'colspan': 6},
 {'label': '2022-06', 'colspan': 6},
 {'label': '2022-07', 'colspan': 6},
 {'label': '2022-08', 'colspan': 6},
 {'label': '2022-09', 'colspan': 6},
 {'label': '2022-10', 'colspan': 6},
 {'label': '2022-11', 'colspan': 6},
 {'label': '2022-12', 'colspan': 6},
 {'label': '2023-01', 'colspan': 6},
 {'label': '2023-02', 'colspan': 6},
 {'label': '2023-03', 'colspan': 6},
 {'label': '2023-04', 'colspan': 6},
 {'label': '2023-05', 'colspan': 6}]

In [113]:
# Nested columns receive new index.

idx_temporal.insert(0, 'Marcha Moinhos')
_df = pd.DataFrame({'label':idx_temporal})
_df['colspan'] = 6
_df['colspan'][0] = 3
_df = _df.to_dict('record')
_df

C:\Users\ALEXSA~1.IGN\AppData\Local\Temp/ipykernel_5112/4263571742.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _df['colspan'][0] = 3
C:\Users\ALEXSA~1.IGN\AppData\Local\Temp/ipykernel_5112/4263571742.py:7: FutureWarning: Using short name for 'orient' is deprecated. Only the options: ('dict', list, 'series', 'split', 'records', 'index') will be used in a future version. Use one of the above to silence this warning.
  _df = _df.to_dict('record')

[{'label': 'Marcha Moinhos', 'colspan': 3},
 {'label': 'Marcha Fornos', 'colspan': 6},
 {'label': '2021-06', 'colspan': 6},
 {'label': '2021-07', 'colspan': 6},
 {'label': '2021-08', 'colspan': 6},
 {'label': '2021-09', 'colspan': 6},
 {'label': '2021-10', 'colspan': 6},
 {'label': '2021-11', 'colspan': 6},
 {'label': '2021-12', 'colspan': 6},
 {'label': '2022-01', 'colspan': 6},
 {'label': '2022-02', 'colspan': 6},
 {'label': '2022-03', 'colspan': 6},
 {'label': '2022-04', 'colspan': 6},
 {'label': '2022-05', 'colspan': 6},
 {'label': '2022-06', 'colspan': 6},
 {'label': '2022-07', 'colspan': 6},
 {'label': '2022-08', 'colspan': 6},
 {'label': '2022-09', 'colspan': 6},
 {'label': '2022-10', 'colspan': 6},
 {'label': '2022-11', 'colspan': 6},
 {'label': '2022-12', 'colspan': 6},
 {'label': '2023-01', 'colspan': 6},
 {'label': '2023-02', 'colspan': 6},
 {'label': '2023-03', 'colspan': 6},
 {'label': '2023-04', 'colspan': 6},
 {'label': '2023-05', 'colspan': 6}]

<xarray.DataArray (mes: 12)>
array([0.98, 0.98, 0.98, 0.98, 0.98, 0.98, 0.98, 0.98, 0.98, 0.98, 0.98,
       0.98])
Coordinates:
  * mes      (mes) <U3 'JAN' 'FEB' 'MAR' 'APR' 'MAY' ... 'SEP' 'OCT' 'NOV' 'DEC'