# Lógica de Código Pyplan

### Pacotes

In [10]:
import os as os
import numpy as np
import pandas as pd

#### Valor Percentual

In [9]:
# Valor Percentual = (Atual - Anterior)/Anterior 
atual = 30000
anterior = 50000
valor_percentual = ((atual - anterior)/anterior) * 100
str(valor_percentual) + ' %'

'-40.0 %'

#### Defininindo um Index com Compreensão de lista (List comprehension)

In [4]:
data  = {'Coluna1':['Regional1'],  'Coluna2':['Região Leste'], 'Coluna3':['Atacado'], 'vol_dia':[10000]}
_df = pd.DataFrame(data)
_df

     Coluna1       Coluna2  Coluna3  vol_dia
0  Regional1  Região Leste  Atacado    10000

In [5]:
_df.set_index(['Coluna1', 'Coluna2', 'Coluna3', 'vol_dia'])

Empty DataFrame
Columns: []
Index: [(Regional1, Região Leste, Atacado, 10000)]

In [6]:
_df.set_index([col for col in _df if col != 'vol_dia'])

                                vol_dia
Coluna1   Coluna2      Coluna3
Regional1 Região Leste Atacado    10000

#### Deletando Colunas

In [15]:
data = {'col1':[1,2], 'col2':[1,2], 'col3':[1,2]}
_df = pd.DataFrame(data)
_df

   col1  col2  col3
0     1     1     1
1     2     2     2

In [16]:
_df = _df.drop(columns=['col3'])
_df

   col1  col2
0     1     1
1     2     2

#### DataFrames

In [34]:
# array is rows not columns, the coluns is the values inside of array.
# [0,1,2,3]
# [1,8,3,0]
# [2,9,3,0]
# [3,2,3,0]

data = np.array([ [0,1,2,3], [1,8,3,0], [2,9,3,0], [3,2,3,0] ]) 
_df1 = pd.DataFrame(data, columns=['id', 'col1', 'col2', 'col3'])
_df1

   id  col1  col2  col3
0   0     1     2     3
1   1     8     3     0
2   2     9     3     0
3   3     2     3     0

In [36]:
data = np.array([[0,1,2,3], [1,1,2,8], [2,5,2,4], [3,9,6,8]])
_df2 = pd.DataFrame(data, columns=['id', 'col4', 'col5', 'col6'])
_df2

   id  col4  col5  col6
0   0     1     2     3
1   1     1     2     8
2   2     5     2     4
3   3     9     6     8

#### Mesclando Dataframes

In [37]:
                    
_df = _df1.merge(_df2, on=['id'], how='left')
_df

   id  col1  col2  col3  col4  col5  col6
0   0     1     2     3     1     2     3
1   1     8     3     0     1     2     8
2   2     9     3     0     5     2     4
3   3     2     3     0     9     6     8

#### Pivotando Dataframes

In [40]:
_df_pivot = pd.pivot_table(_df,
                           values='col3', 
                           index='id',
                           columns=['col1'], 
                           aggfunc=np.sum).reset_index()

_df_pivot

col1  id    1    2    8    9
0      0  3.0  NaN  NaN  NaN
1      1  NaN  NaN  0.0  NaN
2      2  NaN  NaN  NaN  0.0
3      3  NaN  0.0  NaN  NaN

#### Substituindo Valores

In [47]:
data  = {'Coluna1':['Regional1'],  'Coluna2':['Região Leste'], 'Coluna3':['Atacado'], 'vol_dia':[10000]}
_df = pd.DataFrame(data)
_df

     Coluna1       Coluna2  Coluna3  vol_dia
0  Regional1  Região Leste  Atacado    10000

In [48]:
_df['vol_dia'] = np.where(_df['vol_dia']== 1000, True, False)
_df

     Coluna1       Coluna2  Coluna3  vol_dia
0  Regional1  Região Leste  Atacado    False

In [45]:
data  = {'Coluna1':['Regional1'],  'Coluna2':['Região Leste'], 'Coluna3':['Atacado'], 'vol_dia':[10000]}
_df = pd.DataFrame(data)
_df

     Coluna1       Coluna2  Coluna3  vol_dia
0  Regional1  Região Leste  Atacado    10000

In [46]:
_df['vol_dia'] = np.where(_df['vol_dia']== 10000, True, False)
_df

     Coluna1       Coluna2  Coluna3  vol_dia
0  Regional1  Região Leste  Atacado     True

In [53]:
_df = _df.replace('Regional1','Regional2')
_df

     Coluna1       Coluna2  Coluna3  vol_dia
0  Regional2  Região Leste  Atacado    False

In [75]:
_df = _df.replace('Região Leste','Região Leste Cambuci2 66')
_df

     Coluna1                   Coluna2  Coluna3  vol_dia       split_cols
0  Regional2  Região Leste Cambuci2 66  Atacado    False  [Região, Leste]

#### Strings

In [69]:
_df['Coluna2'].str.split(pat=' ')

0    [Região, Leste, Cambuci2, 66]
Name: Coluna2, dtype: object

In [70]:
_df['Coluna2'].str.split(n=5, expand=True)

        0      1         2   3
0  Região  Leste  Cambuci2  66

In [77]:
_df['Coluna2'].str.split(n=1)

0    [Região, Leste Cambuci2 66]
Name: Coluna2, dtype: object

In [78]:
_df['split_cols'] = _df['Coluna2'].str.split(pat=' ').str[0]
_df

     Coluna1                   Coluna2  Coluna3  vol_dia split_cols
0  Regional2  Região Leste Cambuci2 66  Atacado    False     Região

In [57]:
_df['split_cols'] = _df['Coluna2'].str.split(pat=' ').str[1]
_df

     Coluna1       Coluna2  Coluna3  vol_dia split_cols
0  Regional2  Região Leste  Atacado    False      Leste

In [ ]:
_df['split_cols'] = _df['Coluna2'].str.split(pat=' ').str[0]
_df

#### Criando Index e Atribuindo um dicionário

In [49]:
index = pd.Index([
    # Moinhos > Cimento
    '[A1] Dias Úteis',
    '[B1] Dias Cobertura Cimento',
    '[C1] Demanda Comercial de Cimento',
    '[D1] Capacidade Total Moinhos',
    '[E1] Estoque Inicial = [N1]',
    '[F1] Estoque de Segurança =  [C1/A1 * B1]',
    '[G1] Entrada de Estoque = MAX[0, F1 - E1]',
    '[H1] Saída de Estoque =  MIN[0, F1 - E1]',
    '[I1] Requisito de Estoque = [G1 + H1]',
    '[J1] Requisito Total de Produção = [J1 + C1]',
    '[L1] Produção Planejada de Cimento = MAX[J1,D1]',
    '[M1] Cimento Disponível = [E1 + A3 - F1]',
    '[N1] Estoque Final = [E1 + A3 - C3]',
    '[O1] Alerta de Estoque Cimento',
    # Fornos > Clinquer
    '[A2] Dias Cobertura Clínquer',
    '[B2] Percentual de Clínquer',
    '[C2] Demanda de Clínquer para Cimento = [L1 * B2]',
    '[D2] Capacidade Total Fornos',
    '[E2] Estoque Inicial = [Q2]',
    '[F2] Estoque de Segurança = [C2/A1 * A2]',
    '[G2] Entrada de Estoque = MAX[0, F2 - E2]',
    '[H2] Saída de Estoque = MIN[0, F2 - E2]',
    '[I2] Requisito de estoque = [G2 - H2]',
    '[J2] Tranferências Saída = [L1 * B2]',
    '[L2] Requisito Total de Produção = [I2 + C2 + J2]',
    '[M2] Tranferências Entrada',
    '[N2] Produção Efetiva de Clínquer = MIN[L2,D2] + M2',
    '[N2.1] Produção Efetiva de Estoque Clínquer',      
    '[O2] % de Produção Própria = [N2 * (C2+I2)/(L2)]',
    '[P2] % de Produção Externa = [N2 * J2 /(L2)]',
    '[Q2] Estoque Final = [E2 + O2 - U2]',
    '[R2] Venda para outros Players',
    '[S2] Clínquer Dísponivel = [E2 + O2 - F2 + R2]',
    '[T2] Clínquer Dísponivel Convertido em Cimento',
    '[U2] Demanda Restrita de Clínquer = [S2/B2]',
    '[V2] Alerta de estoque Cimento',
    # Cimento Novamente
    '[A3] Produção efetiva de cimento = [O2/B2] trans. [N2/B2]',
    '[B3] Cimento disponível = M1',
    '[C3] Demanda restrita = MIN[B3,C1]',
    '[D3] Demanda não abastecida = [C1 - C3]',
    '[E3] Demanda irrestrita = C1'
    ])

In [50]:
index

Index(['[A1] Dias Úteis', '[B1] Dias Cobertura Cimento',
       '[C1] Demanda Comercial de Cimento', '[D1] Capacidade Total Moinhos',
       '[E1] Estoque Inicial = [N1]',
       '[F1] Estoque de Segurança =  [C1/A1 * B1]',
       '[G1] Entrada de Estoque = MAX[0, F1 - E1]',
       '[H1] Saída de Estoque =  MIN[0, F1 - E1]',
       '[I1] Requisito de Estoque = [G1 + H1]',
       '[J1] Requisito Total de Produção = [J1 + C1]',
       '[L1] Produção Planejada de Cimento = MAX[J1,D1]',
       '[M1] Cimento Disponível = [E1 + A3 - F1]',
       '[N1] Estoque Final = [E1 + A3 - C3]', '[O1] Alerta de Estoque Cimento',
       '[A2] Dias Cobertura Clínquer', '[B2] Percentual de Clínquer',
       '[C2] Demanda de Clínquer para Cimento = [L1 * B2]',
       '[D2] Capacidade Total Fornos', '[E2] Estoque Inicial = [Q2]',
       '[F2] Estoque de Segurança = [C2/A1 * A2]',
       '[G2] Entrada de Estoque = MAX[0, F2 - E2]',
       '[H2] Saída de Estoque = MIN[0, F2 - E2]',
       '[I2] Requisito de estoque = [G2 - H2]',
       '[J2] Tranferências Saída = [L1 * B2]',
       '[L2] Requisito Total de Produção = [I2 + C2 + J2]',
       '[M2] Tranferências Entrada',
       '[N2] Produção Efetiva de Clínquer = MIN[L2,D2] + M2',
       '[N2.1] Produção Efetiva de Estoque Clínquer',
       '[O2] % de Produção Própria = [N2 * (C2+I2)/(L2)]',
       '[P2] % de Produção Externa = [N2 * J2 /(L2)]',
       '[Q2] Estoque Final = [E2 + O2 - U2]', '[R2] Venda para outros Players',
       '[S2] Clínquer Dísponivel = [E2 + O2 - F2 + R2]',
       '[T2] Clínquer Dísponivel Convertido em Cimento',
       '[U2] Demanda Restrita de Clínquer = [S2/B2]',
       '[V2] Alerta de estoque Cimento',
       '[A3] Produção efetiva de cimento = [O2/B2] trans. [N2/B2]',
       '[B3] Cimento disponível = M1', '[C3] Demanda restrita = MIN[B3,C1]',
       '[D3] Demanda não abastecida = [C1 - C3]',
       '[E3] Demanda irrestrita = C1'],
      dtype='object')

In [51]:
# Criando um dionário com os valores do index

_index = index
_len = len(_index)
_dict = {}

for i in range(_len):
    _dict[_index[i]] = i

_dict

{'[A1] Dias Úteis': 0,
 '[B1] Dias Cobertura Cimento': 1,
 '[C1] Demanda Comercial de Cimento': 2,
 '[D1] Capacidade Total Moinhos': 3,
 '[E1] Estoque Inicial = [N1]': 4,
 '[F1] Estoque de Segurança =  [C1/A1 * B1]': 5,
 '[G1] Entrada de Estoque = MAX[0, F1 - E1]': 6,
 '[H1] Saída de Estoque =  MIN[0, F1 - E1]': 7,
 '[I1] Requisito de Estoque = [G1 + H1]': 8,
 '[J1] Requisito Total de Produção = [J1 + C1]': 9,
 '[L1] Produção Planejada de Cimento = MAX[J1,D1]': 10,
 '[M1] Cimento Disponível = [E1 + A3 - F1]': 11,
 '[N1] Estoque Final = [E1 + A3 - C3]': 12,
 '[O1] Alerta de Estoque Cimento': 13,
 '[A2] Dias Cobertura Clínquer': 14,
 '[B2] Percentual de Clínquer': 15,
 '[C2] Demanda de Clínquer para Cimento = [L1 * B2]': 16,
 '[D2] Capacidade Total Fornos': 17,
 '[E2] Estoque Inicial = [Q2]': 18,
 '[F2] Estoque de Segurança = [C2/A1 * A2]': 19,
 '[G2] Entrada de Estoque = MAX[0, F2 - E2]': 20,
 '[H2] Saída de Estoque = MIN[0, F2 - E2]': 21,
 '[I2] Requisito de estoque = [G2 - H2]': 22,
 '[J2] Tranferências Saída = [L1 * B2]': 23,
 '[L2] Requisito Total de Produção = [I2 + C2 + J2]': 24,
 '[M2] Tranferências Entrada': 25,
 '[N2] Produção Efetiva de Clínquer = MIN[L2,D2] + M2': 26,
 '[N2.1] Produção Efetiva de Estoque Clínquer': 27,
 '[O2] % de Produção Própria = [N2 * (C2+I2)/(L2)]': 28,
 '[P2] % de Produção Externa = [N2 * J2 /(L2)]': 29,
 '[Q2] Estoque Final = [E2 + O2 - U2]': 30,
 '[R2] Venda para outros Players': 31,
 '[S2] Clínquer Dísponivel = [E2 + O2 - F2 + R2]': 32,
 '[T2] Clínquer Dísponivel Convertido em Cimento': 33,
 '[U2] Demanda Restrita de Clínquer = [S2/B2]': 34,
 '[V2] Alerta de estoque Cimento': 35,
 '[A3] Produção efetiva de cimento = [O2/B2] trans. [N2/B2]': 36,
 '[B3] Cimento disponível = M1': 37,
 '[C3] Demanda restrita = MIN[B3,C1]': 38,
 '[D3] Demanda não abastecida = [C1 - C3]': 39,
 '[E3] Demanda irrestrita = C1': 40}