## Functions

In [19]:
def hello_func():
    pass

print(hello_func())

None

In [20]:
def hello_func():
    return "Hello Function!"

hello_func()

'Hello Function!'

In [21]:
def hello_func():
    return "Hello Function!"

len(hello_func())

15

In [22]:
def hello_func():
    return "Hello Function!"

hello_func().upper()

'HELLO FUNCTION!'

In [23]:
def hello_func():
    return "Hello Function!"

hello_func().lower()

'hello function!'

In [24]:
def hello_func(greting):
    return f"{greting}"

hello_func("Hi")

'Hi'

In [25]:
def hello_func(greting,name='You' ):
    return f"{greting}, {name}"

hello_func("Hi")

'Hi, You'

In [26]:
def hello_func(greting,name='You' ):
    return f"{greting}, {name}"

hello_func("Hi", name='Corey')

'Hi, Corey'

In [27]:
def student_info(*args, **kargs):
    return args, kargs

student_info('Math', 'Art', name='John', age=22)

(('Math', 'Art'), {'name': 'John', 'age': 22})

In [28]:
def student_info(*args, **kargs):
    return args, kargs

courses = ['Math', 'Art']
info = {'name':'John', 'age':22}
student_info(courses, info)

((['Math', 'Art'], {'name': 'John', 'age': 22}), {})

In [29]:
def student_info(*args, **kargs):
    return args, kargs

courses = ['Math', 'Art']
info = {'name':'John', 'age':22}
student_info(*courses, **info)

(('Math', 'Art'), {'name': 'John', 'age': 22})

In [30]:
def addNumbers(*args):
	total = 0
	for a in args:
		total = total + a
	print(total)

addNumbers(9, 10, 12)
addNumbers(13, 14, 15, 15)

31
57

In [31]:
def printOrder(**kwargs):
	print(kwargs)

printOrder(coffee="Mocha", price=2.90, size="Large")

{'coffee': 'Mocha', 'price': 2.9, 'size': 'Large'}

In [33]:
def printOrder(**kwargs):
    for key, value in kwargs.items():
            print(f"{key} is equal to {value}")

printOrder(coffee="Mocha", price=2.90, size="Large")

coffee is equal to Mocha
price is equal to 2.9
size is equal to Large

In [38]:
# Number of days per month, First value placeholder for index purposes.
month_days = [0,31,28,31,30,31,30,31,31,30,31,30,31]

def is_leap(year):
    """Return True for leap years, False for non-leap years"""
    return year % 4 == 0 and (year % 100 != 0 or year % 400 == 0)

def days_in_month(year, month):
    """Return number of days in that month in that year"""

    if not 1 <= month <= 12:
        return 'Invalid Month'
    if month == 2 and is_leap(year):
        return 29

    return month_days[month]

days_in_month(2017, 2)

28