### Imports

In [1]:
import os
import pickle
import pandas as pd

### Leitura da Base

In [2]:
_df = pd.read_csv("C:/Users/alexsandro.ignacio/Downloads/base_sellout.txt", sep=";")

* Quantidade de linhas e colunas.

In [3]:
_df.shape

(88024748, 9)

### Colunas da base.

In [4]:
_df.columns.tolist()

['Ano',
 'Mes',
 'PAIS_EMITENTE',
 'ID_CONSULTOR',
 'ID_PRODUTO',
 'DESCR_PRODUTO',
 'CLASS_PEDIDO',
 'SellOut',
 'Volume']

### Tipos de dados.

In [5]:
_df.dtypes

Ano               int64
Mes               int64
PAIS_EMITENTE    object
ID_CONSULTOR      int64
ID_PRODUTO        int64
DESCR_PRODUTO    object
CLASS_PEDIDO     object
SellOut          object
Volume            int64
dtype: object

In [6]:
_df.columns = [ x.lower() for x in _df.columns]
_df.columns

Index(['ano', 'mes', 'pais_emitente', 'id_consultor', 'id_produto',
       'descr_produto', 'class_pedido', 'sellout', 'volume'],
      dtype='object')

In [7]:
_df .head(2)

,ano,mes,pais_emitente,id_consultor,id_produto,descr_produto,class_pedido,sellout,volume
0,2019,1,BRASIL,2,217,LIZ MULHER SABONETE HIG INTIMA FLORAL 150ML,RECOMPRA,"15,850000",1
1,2019,1,BRASIL,2,223,NAT SKIN LOCAO TONICA 120ML,RECOMPRA,"21,000000",1

In [8]:
_cond1 = (_df['ano']==2019)
_df_2019 = _df[ _cond1 ]

_df_2019.head(2)
print()
print(_df_2019.shape)

print(f"\nMes: {_df_2019['mes'].unique()}\nPaises: {_df_2019['pais_emitente'].unique()}\n Tipo de pedido: {_df_2019['class_pedido'].unique()}")

(29063698, 9)

Mes: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Paises: ['BRASIL' 'PERU' 'COLÔMBIA' 'EQUADOR' 'BOLÍVIA' 'MÉXICO']
 Tipo de pedido: ['RECOMPRA' nan 'APERFEIÇOAMENTO' 'KIT' 'COMBO EXECUTIVO'
 'COMBO EXECUTIVO TOP' 'COMBO EXECUTIVO PLUS' 'KIT + COMBO EXECUTIVO TOP'
 'KIT + COMBO EXECUTIVO' 'KIT + COMBO EXECUTIVO PLUS' 'KIT + RECOMPRA'
 'COMBO SUPER PLUS']

In [9]:
_cond1 = (_df['ano']==2020)
_df_2020 = _df[ _cond1 ]

_df_2020.head(2)
print()
print(_df_2020.shape)

print(f"\nMes: {_df_2020['mes'].unique()}\nPaises: {_df_2020['pais_emitente'].unique()}\n Tipo de pedido: {_df_2020['class_pedido'].unique()}")

(25388628, 9)

Mes: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Paises: ['BRASIL' 'MÉXICO' 'BOLÍVIA' 'PERU' 'COLÔMBIA' 'EQUADOR']
 Tipo de pedido: ['RECOMPRA' nan 'APERFEIÇOAMENTO' 'KIT' 'COMBO EXECUTIVO'
 'COMBO EXECUTIVO TOP' 'COMBO SUPER PLUS' 'COMBO EXECUTIVO PLUS'
 'KIT + COMBO EXECUTIVO' 'KIT + COMBO EXECUTIVO TOP'
 'KIT + COMBO EXECUTIVO PLUS' 'COMBO SUPER EXECUTIVO']

In [10]:
_cond1 = (_df['ano']==2021)
_df_2021 = _df[ _cond1 ]

_df_2021.head(2)
print()
print(_df_2021.shape)

print(f"\nMes: {_df_2021['mes'].unique()}\nPaises: {_df_2021['pais_emitente'].unique()}\n Tipo de pedido: {_df_2021['class_pedido'].unique()}")

(20964592, 9)

Mes: [ 1  2  3  4  5  6  7  8  9 10 11 12]
Paises: ['BRASIL' 'PERU' 'COLÔMBIA' 'MÉXICO' 'BOLÍVIA' 'EQUADOR' 'CHILE'
 'PARAGUAI']
 Tipo de pedido: ['RECOMPRA' nan 'APERFEIÇOAMENTO' 'COMBO EXECUTIVO' 'COMBO EXECUTIVO TOP'
 'KIT' 'COMBO LIGHT' 'COMBO SUPER PLUS' 'COMBO EXECUTIVO PLUS'
 'KIT + COMBO EXECUTIVO' 'KIT + COMBO EXECUTIVO TOP'
 'KIT + COMBO EXECUTIVO PLUS']

In [11]:
_cond1 = (_df['ano']==2022)
_df_2022 = _df[ _cond1 ]

_df_2022.head(2)
print()
print(_df_2022.shape)

print(f"\nMes: {_df_2022['mes'].unique()}\nPaises: {_df_2022['pais_emitente'].unique()}\n Tipo de pedido: {_df_2022['class_pedido'].unique()}")

(12607830, 9)

Mes: [ 1  2  3  4  5  6  7  8  9 10]
Paises: ['BRASIL' 'PERU' 'COLÔMBIA' 'MÉXICO' 'BOLÍVIA' 'EQUADOR' 'PARAGUAI'
 'CHILE']
 Tipo de pedido: ['RECOMPRA' nan 'APERFEIÇOAMENTO' 'COMBO EXECUTIVO TOP' 'COMBO EXECUTIVO'
 'KIT' 'COMBO LIGHT' 'COMBO SUPER PLUS' 'COMBO EXECUTIVO PLUS'
 'KIT + COMBO EXECUTIVO TOP' 'KIT + COMBO EXECUTIVO'
 'KIT + COMBO EXECUTIVO PLUS' 'COMBO TOP' 'COMBO PRIME' 'KIT + COMBO TOP'
 'KIT + COMBO PRIME' 'KIT + RECOMPRA' 'COMBO BASIC' 'KIT + COMBO BASIC']

In [12]:
['ano', 'mes', 'pais_emitente', 'id_consultor', 'id_produto',
       'descr_produto', 'class_pedido', 'sellout', 'volume']

['ano',
 'mes',
 'pais_emitente',
 'id_consultor',
 'id_produto',
 'descr_produto',
 'class_pedido',
 'sellout',
 'volume']

In [13]:
_cond1 = (_df['ano']==2022)
_cond2 = (_df['mes']==8)
_df_2022_agosto = _df[ _cond1 & _cond2 ]

_df_2022_agosto.head(2)

,ano,mes,pais_emitente,id_consultor,id_produto,descr_produto,class_pedido,sellout,volume
84920739,2022,8,BRASIL,2,10115,FEELIN SEXY FEM,RECOMPRA,"78,450000",1
84920740,2022,8,BRASIL,2,10116,FEELIN SEXY MASC,RECOMPRA,"78,450000",1

In [14]:
print(_df_2022_agosto.shape)

(1278076, 9)

In [15]:
# _df_2019_agost_group = _df_2022_agosto.groupby(['ano', 'mes', 'pais_emitente']).agg({'sellout':'sum','volume':'sum'})
# _df_2019_agost_group

In [16]:
# _df_2019.to_pickle("C:/Users/alexsandro.ignacio/Downloads/sellout_2019.pkl", compression='infer')

In [17]:
# _df_2020.to_pickle("C:/Users/alexsandro.ignacio/Downloads/sellout_2020.pkl", compression='infer')

In [18]:
# _df_2021.to_pickle("C:/Users/alexsandro.ignacio/Downloads/sellout_2021.pkl", compression='infer')

In [19]:
# _df_2022.to_pickle("C:/Users/alexsandro.ignacio/Downloads/sellout_2022.pkl", compression='infer')

In [20]:
# _df.to_parquet("C:/Users/alexsandro.ignacio/Downloads/sellout.parquet", partition_cols=['ano', 'pais'])

In [22]:
# _df_2019.to_parquet("C:/Users/alexsandro.ignacio/Downloads/sellout_2019", partition_cols=['pais'])

### Gerando bases

In [28]:
_lista_pais = _df_2019['mes'].unique().tolist()
_lista_pais

for x in _lista_pais:
    _df_2019_x = _df_2019[_df_2019['mes']==x]
    _df_2019_x.to_pickle(f"C:/Users/alexsandro.ignacio/Downloads/base_sellout_mes/sellout_2019_mes_{x}.pkl", compression='infer')

In [29]:
_lista_pais = _df_2020['mes'].unique().tolist()
_lista_pais

for x in _lista_pais:
    _df_2020_x = _df_2020[_df_2020['mes']==x]
    _df_2020_x.to_pickle(f"C:/Users/alexsandro.ignacio/Downloads/base_sellout_mes/sellout_2020_mes_{x}.pkl", compression='infer')

In [30]:
_lista_pais = _df_2021['mes'].unique().tolist()
_lista_pais

for x in _lista_pais:
    _df_2021_x = _df_2021[_df_2021['mes']==x]
    _df_2021_x.to_pickle(f"C:/Users/alexsandro.ignacio/Downloads/base_sellout_mes/sellout_2021_mes_{x}.pkl", compression='infer')

In [31]:
_lista_pais = _df_2022['mes'].unique().tolist()
_lista_pais

for x in _lista_pais:
    _df_2022_x = _df_2022[_df_2022['mes']==x]
    _df_2022_x.to_pickle(f"C:/Users/alexsandro.ignacio/Downloads/base_sellout_mes/sellout_2022_mes_{x}.pkl", compression='infer')