## Trazendo os imports

In [1]:
import os
import pickle
import pandas as pd

In [4]:
leitura = pd.read_csv("C:/Users/alexsandro.ignacio/Downloads/base_sellout.txt", sep=";")

In [6]:
leitura.shape

(88024748, 9)

In [8]:
leitura.columns.tolist()

['Ano',
 'Mes',
 'PAIS_EMITENTE',
 'ID_CONSULTOR',
 'ID_PRODUTO',
 'DESCR_PRODUTO',
 'CLASS_PEDIDO',
 'SellOut',
 'Volume']

In [10]:
leitura.to_pickle("C:\\Users\\alexsandro.ignacio\\OneDrive - WCA Soluções de Inteligência Comercial\\Área de Trabalho")

PermissionError: [Errno 13] Permission denied: 'C:\\Users\\alexsandro.ignacio\\OneDrive - WCA Soluções de Inteligência Comercial\\Área de Trabalho'

In [5]:
leitura.head(5)

,Ano,Mes,PAIS_EMITENTE,ID_CONSULTOR,ID_PRODUTO,DESCR_PRODUTO,CLASS_PEDIDO,SellOut,Volume
0,2019,1,BRASIL,2,217,LIZ MULHER SABONETE HIG INTIMA FLORAL 150ML,RECOMPRA,"15,850000",1
1,2019,1,BRASIL,2,223,NAT SKIN LOCAO TONICA 120ML,RECOMPRA,"21,000000",1
2,2019,1,BRASIL,2,224,NAT SKIN LOCAO DE LIMPEZA 120ML,RECOMPRA,"42,000000",2
3,2019,1,BRASIL,2,270,HANDS LUVA DE SILICONE C/ ALOE VERA 100GR,RECOMPRA,"103,500000",9
4,2019,1,BRASIL,2,271,JOLI OL.CREME DES.CORP. AMÊNDOAS DOCES,RECOMPRA,"49,900000",2

## Lendo os CSV's

In [2]:
current_path = os.getcwd()
path_file_ing_base_estoque_19_20 = os.path.join(current_path,'Bases', 'base_estoque_012019_032021.csv')
path_file_ing_base_sellout_2019_2021 = os.path.join(current_path,'Bases', 'base_estoque_sell_out_012019_032021.csv')
path_file_ing_base_sellin_2018 = os.path.join(current_path,'Bases', 'base_sell_in_2018.csv')
path_file_ing_base_sellin_2019 = os.path.join(current_path,'Bases', 'base_sell_in_2019.csv')
path_file_ing_base_sellin_2020 = os.path.join(current_path,'Bases', 'base_sell_in_2020.csv')
path_file_ing_base_sellin_2021 = os.path.join(current_path,'Bases', 'base_sell_in_2021.csv')

# Lendo os CSV's
_ing_base_estoque_19_20 = pd.read_csv(path_file_ing_base_estoque_19_20,  sep=';') 
_ing_base_sellout_2019_2021 =  pd.read_csv(path_file_ing_base_sellout_2019_2021, sep=';')
_ing_base_sellin_2018 = pd.read_csv(path_file_ing_base_sellin_2018, sep=';')
_ing_base_sellin_2019 = pd.read_csv(path_file_ing_base_sellin_2019, sep=';')
_ing_base_sellin_2020 = pd.read_csv(path_file_ing_base_sellin_2020, sep=';')
_ing_base_sellin_2021 = pd.read_csv(path_file_ing_base_sellin_2021, sep=';')

_ing_base_sellin_2018.rename(columns = {'Product Sales ':'Product Sales'}, inplace = True)
_ing_base_sellin_2019.rename(columns = {'Product Sales ':'Product Sales'}, inplace = True)
_ing_base_sellin_2020.rename(columns = {'Product Sales ':'Product Sales'}, inplace = True)
_ing_base_sellin_2021.rename(columns = {'Product Sales ':'Product Sales'}, inplace = True)

C:\Users\alexsandro.ignacio\AppData\Local\Programs\Python\Python37\lib\site-packages\IPython\core\interactiveshell.py:3166: DtypeWarning: Columns (26) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

## Exibindo os CSV´s

In [3]:
_ing_base_estoque_19_20.head(1)

,Ano,Mes,Cod Canal,Canal,Cod SubCanal,SubCanal,Cod Cluster,Cod Grupo,Grupo,Cod SubGrupo,...,Cod Zona,Zona,BU,Categoria,Produto,EAN,Volume Posição Estoque,Volume Estoque em Transito,Product Sales Posição Estoque,Product Sales Estoque em Transito
0,2019,jan,A0X6300100,1. INDIRETO ALIMENTAR,A0X6400110,1.1. DISTRIBUIDOR ALIMENTAR,A0X6500119,A0X6604030,NILO TOZZO E CIA,A0X6704030,...,C0X6402114,2.114. SC/RS 2,Não Definido,SUN,P&B FPS30 125ML AM+SOFT MILK 200ML GRT,4005900262776,15,NaN,NaN,NaN

In [4]:
_ing_base_sellout_2019_2021.head(1)

,Origem,Ano,Mês,Código Canal,Canal,Código SubCanal,SubCanal,Código Cluster,Cluster,Código Grupo,...,Código Regional,Regional,Código Zona,Zona,BU,SubBrandCategory Hierarquia - Categoria,EAN,Produto,Volume,Product Sales
0,CLOSEUP,2019,Janeiro,A0X6300300,3. FARMA CADEIA,A0X6400310,3.1. FARMA KA,A0X6500315,KA FARMA,A0X6612230,...,C0X6300312,BR 3.1.2. CFA DPSP,C0X6408121,8.121. DROGARIA SÃO PAULO,SUN,SUN,4.005900e+12,P&H FPS 30 200ML+P SOL FAC FPS30 50ML GR,27541,"645294,65270165800"

In [5]:
_ing_base_sellin_2018.head(1)

,Calendar year,Calendar month,Cust. Hierarchy A5,Empresa,Cust. Hierarchy A4,Canal,Cust. Hierarchy A3,SubCanal,Cust. Hierarchy A2,Cluster,...,P1 NART,Columna_AF,GTIN (EAN),Columna_AH,Sold-to Party,Columna_AJ,Region,Zona,Invoiced Quantity,Product Sales
0,2018,JAN,42/0033/01/11/A0X6200000,BDF Nivea Ltda,42/0033/01/11/A0X6300100,1. INDIRETO ALIMENTAR,42/0033/01/11/A0X6400110,1.1. DISTRIBUIDOR ALIMENTAR,42/0033/01/11/A0X6500119,SEM CLUSTERIZACAO,...,80102-03300-40,NCRM TIN 60ML,78906617,78906617,42/40317251,NILO TOZZO & CIA LTDA,RS,BR/RS,1080.0,"7010,780000000000"

In [6]:
_ing_base_sellin_2019.head(1)

,Calendar year,Calendar month,Cust. Hierarchy A5,Empresa,Cust. Hierarchy A4,Canal,Cust. Hierarchy A3,SubCanal,Cust. Hierarchy A2,Cluster,...,P1 NART,Columna_AF,GTIN (EAN),Columna_AH,Sold-to Party,Columna_AJ,Region,Zona,Invoiced Quantity,Product Sales
0,2019,JAN,42/0033/01/11/A0X6200000,BDF Nivea Ltda,42/0033/01/11/A0X6300100,1. INDIRETO ALIMENTAR,42/0033/01/11/A0X6400110,1.1. DISTRIBUIDOR ALIMENTAR,42/0033/01/11/A0X6500119,SEM CLUSTERIZACAO,...,85562-03303-18,NSUN LTN SPF50 200ML PH50_200_GTS_PH50_1,4005900477880,4005900477880,42/40316384,ROGE COMERCIO E DISTRIBUIDORA DE,SP,BR/SP,NaN,"70911,820000000000"

In [7]:
_ing_base_sellin_2020.head(1)

,Calendar year,Calendar month,Cust. Hierarchy A5,Empresa,Cust. Hierarchy A4,Canal,Cust. Hierarchy A3,SubCanal,Cust. Hierarchy A2,Cluster,...,P1 NART,Columna_AF,GTIN (EAN),Columna_AH,Sold-to Party,Columna_AJ,Region,Zona,Invoiced Quantity,Product Sales
0,2020,JAN,42/0033/01/11/A0X6200000,BDF Nivea Ltda,42/0033/01/11/A0X6300100,1. INDIRETO ALIMENTAR,42/0033/01/11/A0X6400110,1.1. DISTRIBUIDOR ALIMENTAR,42/0033/01/11/A0X6500119,SEM CLUSTERIZACAO,...,86049-03300-18,NSUN FC_FLD SPF50+ 50ML,4005900201126,4005900201126,42/40330973,ROGE INTERG COMERCIO E DISTRIBUIDO,SP,BR/SP,600.0,"12091,050000000000"

In [8]:
_ing_base_sellin_2021.head(1)

,Calendar year,Calendar month,Cust. Hierarchy A5,Empresa,Cust. Hierarchy A4,Canal,Cust. Hierarchy A3,SubCanal,Cust. Hierarchy A2,Cluster,...,P1 NART,Columna_AF,GTIN (EAN),Columna_AH,Sold-to Party,Columna_AJ,Region,Zona,Invoiced Quantity,Product Sales
0,2021,JAN,42/0033/01/11/A0X6200000,BDF Nivea Ltda,42/0033/01/11/A0X6300100,1. INDIRETO ALIMENTAR,42/0033/01/11/A0X6400110,1.1. DISTRIBUIDOR ALIMENTAR,42/0033/01/11/A0X6500119,SEM CLUSTERIZACAO,...,85581-03300-20,NSUN LTN SPF30 200ML,4005808555307,4005808555307,42/40352408,DISTRIBUIDORA LATIFRIOS LTDA,RJ,BR/RJ,72.0,"892,800000000000"

## Fazendo o Join das tabelas

In [9]:
sell_in_18 = _ing_base_sellin_2018.copy()
sell_in_19 = _ing_base_sellin_2019.copy()
sell_in_20 = _ing_base_sellin_2020.copy()
sell_in_21 = _ing_base_sellin_2021.copy()
_join_sellin = sell_in_18.append([sell_in_19,sell_in_20,sell_in_21])
_join_sellin = _join_sellin.rename(columns = {'﻿Calendar year':'Calendar year'})
_join_sellin.shape

(1140719, 40)

## Criando os PKL's

In [10]:
#_ing_base_estoque_19_20.to_pickle(os.path.join(current_path,'Bases','Base Estoque Historica.pkl'), compression='infer')

In [11]:
#_ing_base_sellout_2019_2021.to_pickle(os.path.join(current_path,'Bases','Base Sell Out Historica.pkl'), compression='infer')

In [12]:
# _join_sellin.to_pickle(os.path.join(current_path,'Bases','Bases Sell In Historicas.pkl'), compression='infer')

## Lendo os PKL´s

In [13]:
result = pd.read_pickle( current_path + "/Bases/Base Estoque Historica.pkl", compression='infer' )
result.head(1)

,Ano,Mes,Cod Canal,Canal,Cod SubCanal,SubCanal,Cod Cluster,Cod Grupo,Grupo,Cod SubGrupo,...,Cod Zona,Zona,BU,Categoria,Produto,EAN,Volume Posição Estoque,Volume Estoque em Transito,Product Sales Posição Estoque,Product Sales Estoque em Transito
0,2019,jan,A0X6300100,1. INDIRETO ALIMENTAR,A0X6400110,1.1. DISTRIBUIDOR ALIMENTAR,A0X6500119,A0X6604030,NILO TOZZO E CIA,A0X6704030,...,C0X6402114,2.114. SC/RS 2,Não Definido,SUN,P&B FPS30 125ML AM+SOFT MILK 200ML GRT,4005900262776,15,NaN,NaN,NaN

In [14]:
result = pd.read_pickle( current_path + "/Bases/Base Sell Out Historica.pkl", compression='infer' )
result.head(1)

,Origem,Ano,Mês,Código Canal,Canal,Código SubCanal,SubCanal,Código Cluster,Cluster,Código Grupo,...,Código Regional,Regional,Código Zona,Zona,BU,SubBrandCategory Hierarquia - Categoria,EAN,Produto,Volume,Product Sales
0,CLOSEUP,2019,Janeiro,A0X6300300,3. FARMA CADEIA,A0X6400310,3.1. FARMA KA,A0X6500315,KA FARMA,A0X6612230,...,C0X6300312,BR 3.1.2. CFA DPSP,C0X6408121,8.121. DROGARIA SÃO PAULO,SUN,SUN,4.005900e+12,P&H FPS 30 200ML+P SOL FAC FPS30 50ML GR,27541,"645294,65270165800"

In [15]:
result = pd.read_pickle( current_path + "/Bases/Bases Sell In Historicas.pkl", compression='infer' )
result.head(1)

,Calendar year,Calendar month,Cust. Hierarchy A5,Empresa,Cust. Hierarchy A4,Canal,Cust. Hierarchy A3,SubCanal,Cust. Hierarchy A2,Cluster,...,Columna_AF,GTIN (EAN),Columna_AH,Sold-to Party,Columna_AJ,Region,Zona,Invoiced Quantity,Product Sales,Product Sales
0,2018,JAN,42/0033/01/11/A0X6200000,BDF Nivea Ltda,42/0033/01/11/A0X6300100,1. INDIRETO ALIMENTAR,42/0033/01/11/A0X6400110,1.1. DISTRIBUIDOR ALIMENTAR,42/0033/01/11/A0X6500119,SEM CLUSTERIZACAO,...,NCRM TIN 60ML,78906617,78906617,42/40317251,NILO TOZZO & CIA LTDA,RS,BR/RS,1080.0,"7010,780000000000",NaN