# Lógica de Código Pyplan

### Pacotes

In [1]:
import os as os
import numpy as np
import pandas as pd
import xarray as xr

#### Valor Percentual

In [2]:
# Valor Percentual = (Atual - Anterior)/Anterior 
atual = 30000
anterior = 50000
valor_percentual = ((atual - anterior)/anterior) * 100
str(valor_percentual) + ' %'

'-40.0 %'

#### Defininindo um Index com Compreensão de lista (List comprehension)

In [3]:
data  = {'Coluna1':['Regional1', 'Regional2'],  'Coluna2':['Região Leste', 'Região Norte'], 'Coluna3':['Atacado', 'Varejo'], 'vol_dia':[10000, 10]}
_df = pd.DataFrame(data)
_df

     Coluna1       Coluna2  Coluna3  vol_dia
0  Regional1  Região Leste  Atacado    10000
1  Regional2  Região Norte   Varejo       10

In [4]:
_df.set_index(['Coluna1', 'Coluna2', 'Coluna3', 'vol_dia'])

Empty DataFrame
Columns: []
Index: [(Regional1, Região Leste, Atacado, 10000), (Regional2, Região Norte, Varejo, 10)]

In [5]:
_df.set_index([col for col in _df if col != 'vol_dia'])

                                vol_dia
Coluna1   Coluna2      Coluna3
Regional1 Região Leste Atacado    10000
Regional2 Região Norte Varejo        10

#### Deletando Colunas

In [6]:
data = {'col1':[1,2], 'col2':[1,2], 'col3':[1,2]}
_df = pd.DataFrame(data)
_df

   col1  col2  col3
0     1     1     1
1     2     2     2

In [7]:
_df = _df.drop(columns=['col3'])
_df

   col1  col2
0     1     1
1     2     2

In [8]:
del _df['col2']
_df

   col1
0     1
1     2

In [9]:
_df.insert(loc=1, column='MesTime', value=['2021.01','2021.02'])
_df

   col1  MesTime
0     1  2021.01
1     2  2021.02

In [10]:
_datas = {'2021.01':'jan', '2021.02':'fev'}
_df = _df.replace({'MesTime':_datas})
_df

   col1 MesTime
0     1     jan
1     2     fev

#### Filtros

In [11]:
_df[ (_df['col1']==1) & (_df['MesTime']=='jan') ]

   col1 MesTime
0     1     jan

In [12]:
_list = ['fev']
_df[ _df['MesTime'].isin(_list)]

   col1 MesTime
1     2     fev

In [13]:
_df.query(" MesTime == 'jan' ")

   col1 MesTime
0     1     jan

In [14]:
_df.query(" MesTime == 'jan' ")

   col1 MesTime
0     1     jan

In [15]:
_df

   col1 MesTime
0     1     jan
1     2     fev

In [16]:
_list = [1]
_df.query(" col1 in @_list ")

   col1 MesTime
0     1     jan

#### Função MAP

In [17]:
_df

   col1 MesTime
0     1     jan
1     2     fev

In [18]:
_df['col1'] = _df['col1'].map(lambda value: value**2)
_df

   col1 MesTime
0     1     jan
1     4     fev

#### Função FILTER

In [19]:
_df.filter(['col1'])

   col1
0     1
1     4

In [20]:
_df.filter(items=['col1'])

   col1
0     1
1     4

In [21]:
_df.filter(regex='es', axis=1)

  MesTime
0     jan
1     fev

In [22]:
_df.filter(like='0', axis=0)

   col1 MesTime
0     1     jan

#### DataFrames

In [23]:
# array is rows not columns, the coluns is the values inside of array.
# [0,1,2,3]
# [1,8,3,0]
# [2,9,3,0]
# [3,2,3,0]

data = np.array([ [0,1,2,3], [1,8,3,0], [2,9,3,0], [3,2,3,0] ]) 
_df1 = pd.DataFrame(data, columns=['id', 'col1', 'col2', 'col3'])
_df1

   id  col1  col2  col3
0   0     1     2     3
1   1     8     3     0
2   2     9     3     0
3   3     2     3     0

In [24]:
data = np.array([[0,1,2,3], [1,1,2,8], [2,5,2,4], [3,9,6,8]])
_df2 = pd.DataFrame(data, columns=['id', 'col4', 'col5', 'col6'])
_df2

   id  col4  col5  col6
0   0     1     2     3
1   1     1     2     8
2   2     5     2     4
3   3     9     6     8

#### Mesclando Dataframes

In [25]:
                    
_df = _df1.merge(_df2, on=['id'], how='left')
_df

   id  col1  col2  col3  col4  col5  col6
0   0     1     2     3     1     2     3
1   1     8     3     0     1     2     8
2   2     9     3     0     5     2     4
3   3     2     3     0     9     6     8

#### Pivotando Dataframes

In [26]:
_df_pivot = pd.pivot_table(_df,
                           values='col3', 
                           index='id',
                           columns=['col1'], 
                           aggfunc=np.sum).reset_index()

_df_pivot

col1  id    1    2    8    9
0      0  3.0  NaN  NaN  NaN
1      1  NaN  NaN  0.0  NaN
2      2  NaN  NaN  NaN  0.0
3      3  NaN  0.0  NaN  NaN

In [27]:
_df_pivot = _df_pivot.fillna(0)
_df_pivot.columns.name=''
_df_pivot.index.name=''

In [28]:
_df_pivot.columns

Index(['id', 1, 2, 8, 9], dtype='object', name='')

In [29]:
_df_melt = pd.melt(_df_pivot, id_vars=['id'], value_vars=[1, 2, 8, 9])
_df_melt

    id     value
0    0  1    3.0
1    1  1    0.0
2    2  1    0.0
3    3  1    0.0
4    0  2    0.0
5    1  2    0.0
6    2  2    0.0
7    3  2    0.0
8    0  8    0.0
9    1  8    0.0
10   2  8    0.0
11   3  8    0.0
12   0  9    0.0
13   1  9    0.0
14   2  9    0.0
15   3  9    0.0

#### Substituindo Valores

In [30]:
data  = {'Coluna1':['Regional1'],  'Coluna2':['Região Leste'], 'Coluna3':['Atacado'], 'vol_dia':[10000]}
_df = pd.DataFrame(data)
_df

     Coluna1       Coluna2  Coluna3  vol_dia
0  Regional1  Região Leste  Atacado    10000

In [31]:
_df['vol_dia'] = np.where(_df['vol_dia']== 1000, True, False)
_df

     Coluna1       Coluna2  Coluna3  vol_dia
0  Regional1  Região Leste  Atacado    False

In [32]:
data  = {'Coluna1':['Regional1'],  'Coluna2':['Região Leste'], 'Coluna3':['Atacado'], 'vol_dia':[10000]}
_df = pd.DataFrame(data)
_df

     Coluna1       Coluna2  Coluna3  vol_dia
0  Regional1  Região Leste  Atacado    10000

In [33]:
_df['vol_dia'] = np.where(_df['vol_dia']== 10000, True, False)
_df

     Coluna1       Coluna2  Coluna3  vol_dia
0  Regional1  Região Leste  Atacado     True

In [34]:
_df = _df.replace('Regional1','Regional2')
_df

     Coluna1       Coluna2  Coluna3  vol_dia
0  Regional2  Região Leste  Atacado     True

In [35]:
_df = _df.replace('Região Leste','Região Leste Cambuci2 66')
_df

     Coluna1                   Coluna2  Coluna3  vol_dia
0  Regional2  Região Leste Cambuci2 66  Atacado     True

#### Strings

In [36]:
_df['Coluna2'].str.split(pat=' ')

0    [Região, Leste, Cambuci2, 66]
Name: Coluna2, dtype: object

In [37]:
_df['Coluna2'].str.split(n=5, expand=True)

        0      1         2   3
0  Região  Leste  Cambuci2  66

In [38]:
_df['Coluna2'].str.split(n=1)

0    [Região, Leste Cambuci2 66]
Name: Coluna2, dtype: object

In [39]:
_df['split_cols'] = _df['Coluna2'].str.split(pat=' ').str[0]
_df

     Coluna1                   Coluna2  Coluna3  vol_dia split_cols
0  Regional2  Região Leste Cambuci2 66  Atacado     True     Região

In [40]:
_df['split_cols'] = _df['Coluna2'].str.split(pat=' ').str[1]
_df

     Coluna1                   Coluna2  Coluna3  vol_dia split_cols
0  Regional2  Região Leste Cambuci2 66  Atacado     True      Leste

In [41]:
_df['split_cols'] = _df['Coluna2'].str.split(pat=' ').str[0]
_df

     Coluna1                   Coluna2  Coluna3  vol_dia split_cols
0  Regional2  Região Leste Cambuci2 66  Atacado     True     Região

#### Criando Index e Atribuindo um dicionário

In [42]:
data  = {'Coluna1':['Regional 1', 'Regional 2', ''],  'Coluna2':['Região Leste', 'Região Norte', ''], 'Coluna3':['Atacado', 'Atacado', ''], 'vol_dia':[10000, 500, 562]}
_df = pd.DataFrame(data)
_df

      Coluna1       Coluna2  Coluna3  vol_dia
0  Regional 1  Região Leste  Atacado    10000
1  Regional 2  Região Norte  Atacado      500
2                                         562

In [43]:
pd.Index(_df.reset_index()['Coluna1'].unique().tolist())

Index(['Regional 1', 'Regional 2', ''], dtype='object')

In [44]:
pd.Index([1 ,2 , 3])

Int64Index([1, 2, 3], dtype='int64')

In [45]:
pd.Index(range(1,31,1))

RangeIndex(start=1, stop=31, step=1)

In [46]:
index = pd.Index([
    # Moinhos > Cimento
    '[A1] Dias Úteis',
    '[B1] Dias Cobertura Cimento',
    '[C1] Demanda Comercial de Cimento',
    '[D1] Capacidade Total Moinhos',
    '[E1] Estoque Inicial = [N1]',
    '[F1] Estoque de Segurança =  [C1/A1 * B1]',
    '[G1] Entrada de Estoque = MAX[0, F1 - E1]',
    '[H1] Saída de Estoque =  MIN[0, F1 - E1]',
    '[I1] Requisito de Estoque = [G1 + H1]',
    '[J1] Requisito Total de Produção = [J1 + C1]',
    '[L1] Produção Planejada de Cimento = MAX[J1,D1]',
    '[M1] Cimento Disponível = [E1 + A3 - F1]',
    '[N1] Estoque Final = [E1 + A3 - C3]',
    '[O1] Alerta de Estoque Cimento',
    # Fornos > Clinquer
    '[A2] Dias Cobertura Clínquer',
    '[B2] Percentual de Clínquer',
    '[C2] Demanda de Clínquer para Cimento = [L1 * B2]',
    '[D2] Capacidade Total Fornos',
    '[E2] Estoque Inicial = [Q2]',
    '[F2] Estoque de Segurança = [C2/A1 * A2]',
    '[G2] Entrada de Estoque = MAX[0, F2 - E2]',
    '[H2] Saída de Estoque = MIN[0, F2 - E2]',
    '[I2] Requisito de estoque = [G2 - H2]',
    '[J2] Tranferências Saída = [L1 * B2]',
    '[L2] Requisito Total de Produção = [I2 + C2 + J2]',
    '[M2] Tranferências Entrada',
    '[N2] Produção Efetiva de Clínquer = MIN[L2,D2] + M2',
    '[N2.1] Produção Efetiva de Estoque Clínquer',      
    '[O2] % de Produção Própria = [N2 * (C2+I2)/(L2)]',
    '[P2] % de Produção Externa = [N2 * J2 /(L2)]',
    '[Q2] Estoque Final = [E2 + O2 - U2]',
    '[R2] Venda para outros Players',
    '[S2] Clínquer Dísponivel = [E2 + O2 - F2 + R2]',
    '[T2] Clínquer Dísponivel Convertido em Cimento',
    '[U2] Demanda Restrita de Clínquer = [S2/B2]',
    '[V2] Alerta de estoque Cimento',
    # Cimento Novamente
    '[A3] Produção efetiva de cimento = [O2/B2] trans. [N2/B2]',
    '[B3] Cimento disponível = M1',
    '[C3] Demanda restrita = MIN[B3,C1]',
    '[D3] Demanda não abastecida = [C1 - C3]',
    '[E3] Demanda irrestrita = C1'
    ])

In [47]:
index

Index(['[A1] Dias Úteis', '[B1] Dias Cobertura Cimento',
       '[C1] Demanda Comercial de Cimento', '[D1] Capacidade Total Moinhos',
       '[E1] Estoque Inicial = [N1]',
       '[F1] Estoque de Segurança =  [C1/A1 * B1]',
       '[G1] Entrada de Estoque = MAX[0, F1 - E1]',
       '[H1] Saída de Estoque =  MIN[0, F1 - E1]',
       '[I1] Requisito de Estoque = [G1 + H1]',
       '[J1] Requisito Total de Produção = [J1 + C1]',
       '[L1] Produção Planejada de Cimento = MAX[J1,D1]',
       '[M1] Cimento Disponível = [E1 + A3 - F1]',
       '[N1] Estoque Final = [E1 + A3 - C3]', '[O1] Alerta de Estoque Cimento',
       '[A2] Dias Cobertura Clínquer', '[B2] Percentual de Clínquer',
       '[C2] Demanda de Clínquer para Cimento = [L1 * B2]',
       '[D2] Capacidade Total Fornos', '[E2] Estoque Inicial = [Q2]',
       '[F2] Estoque de Segurança = [C2/A1 * A2]',
       '[G2] Entrada de Estoque = MAX[0, F2 - E2]',
       '[H2] Saída de Estoque = MIN[0, F2 - E2]',
       '[I2] Requisito de estoque = [G2 - H2]',
       '[J2] Tranferências Saída = [L1 * B2]',
       '[L2] Requisito Total de Produção = [I2 + C2 + J2]',
       '[M2] Tranferências Entrada',
       '[N2] Produção Efetiva de Clínquer = MIN[L2,D2] + M2',
       '[N2.1] Produção Efetiva de Estoque Clínquer',
       '[O2] % de Produção Própria = [N2 * (C2+I2)/(L2)]',
       '[P2] % de Produção Externa = [N2 * J2 /(L2)]',
       '[Q2] Estoque Final = [E2 + O2 - U2]', '[R2] Venda para outros Players',
       '[S2] Clínquer Dísponivel = [E2 + O2 - F2 + R2]',
       '[T2] Clínquer Dísponivel Convertido em Cimento',
       '[U2] Demanda Restrita de Clínquer = [S2/B2]',
       '[V2] Alerta de estoque Cimento',
       '[A3] Produção efetiva de cimento = [O2/B2] trans. [N2/B2]',
       '[B3] Cimento disponível = M1', '[C3] Demanda restrita = MIN[B3,C1]',
       '[D3] Demanda não abastecida = [C1 - C3]',
       '[E3] Demanda irrestrita = C1'],
      dtype='object')

In [48]:
# Criando um dionário com os valores do index

_index = index
_len = len(_index)
_dict = {}

for i in range(_len):
    _dict[_index[i]] = i

_dict

{'[A1] Dias Úteis': 0,
 '[B1] Dias Cobertura Cimento': 1,
 '[C1] Demanda Comercial de Cimento': 2,
 '[D1] Capacidade Total Moinhos': 3,
 '[E1] Estoque Inicial = [N1]': 4,
 '[F1] Estoque de Segurança =  [C1/A1 * B1]': 5,
 '[G1] Entrada de Estoque = MAX[0, F1 - E1]': 6,
 '[H1] Saída de Estoque =  MIN[0, F1 - E1]': 7,
 '[I1] Requisito de Estoque = [G1 + H1]': 8,
 '[J1] Requisito Total de Produção = [J1 + C1]': 9,
 '[L1] Produção Planejada de Cimento = MAX[J1,D1]': 10,
 '[M1] Cimento Disponível = [E1 + A3 - F1]': 11,
 '[N1] Estoque Final = [E1 + A3 - C3]': 12,
 '[O1] Alerta de Estoque Cimento': 13,
 '[A2] Dias Cobertura Clínquer': 14,
 '[B2] Percentual de Clínquer': 15,
 '[C2] Demanda de Clínquer para Cimento = [L1 * B2]': 16,
 '[D2] Capacidade Total Fornos': 17,
 '[E2] Estoque Inicial = [Q2]': 18,
 '[F2] Estoque de Segurança = [C2/A1 * A2]': 19,
 '[G2] Entrada de Estoque = MAX[0, F2 - E2]': 20,
 '[H2] Saída de Estoque = MIN[0, F2 - E2]': 21,
 '[I2] Requisito de estoque = [G2 - H2]': 22,
 '[J2] Tranferências Saída = [L1 * B2]': 23,
 '[L2] Requisito Total de Produção = [I2 + C2 + J2]': 24,
 '[M2] Tranferências Entrada': 25,
 '[N2] Produção Efetiva de Clínquer = MIN[L2,D2] + M2': 26,
 '[N2.1] Produção Efetiva de Estoque Clínquer': 27,
 '[O2] % de Produção Própria = [N2 * (C2+I2)/(L2)]': 28,
 '[P2] % de Produção Externa = [N2 * J2 /(L2)]': 29,
 '[Q2] Estoque Final = [E2 + O2 - U2]': 30,
 '[R2] Venda para outros Players': 31,
 '[S2] Clínquer Dísponivel = [E2 + O2 - F2 + R2]': 32,
 '[T2] Clínquer Dísponivel Convertido em Cimento': 33,
 '[U2] Demanda Restrita de Clínquer = [S2/B2]': 34,
 '[V2] Alerta de estoque Cimento': 35,
 '[A3] Produção efetiva de cimento = [O2/B2] trans. [N2/B2]': 36,
 '[B3] Cimento disponível = M1': 37,
 '[C3] Demanda restrita = MIN[B3,C1]': 38,
 '[D3] Demanda não abastecida = [C1 - C3]': 39,
 '[E3] Demanda irrestrita = C1': 40}

In [49]:
os.chdir( 'c:\\Users\\alexsandro.ignacio\\OneDrive - WCA Soluções de Inteligência Comercial\\Documentos\\Docs\\Git\\python_developer\\Planejamento - Lógicas')

In [50]:
current_path = os.getcwd()
current_path

'c:\\Users\\alexsandro.ignacio\\OneDrive - WCA Soluções de Inteligência Comercial\\Documentos\\Docs\\Git\\python_developer\\Planejamento - Lógicas'

In [51]:
_directory_name = 'Data Base'
_file_name = 'Analise_de_Capacidade_base_2022-02-25-12-16-27.csv'

In [52]:
target_path = os.path.join(current_path, _directory_name, _file_name)
target_path

'c:\\Users\\alexsandro.ignacio\\OneDrive - WCA Soluções de Inteligência Comercial\\Documentos\\Docs\\Git\\python_developer\\Planejamento - Lógicas\\Data Base\\Analise_de_Capacidade_base_2022-02-25-12-16-27.csv'

In [53]:
_df = pd.read_csv(target_path, sep=';') #Analise_de_Capacidade_base _ 2022-02-25-12-16-27
_df.head(1)

,indice_relatorio_analise_de_capacidades,index_codigo_unidade,index_datas,Relatórios de Analise de Capacidade
0,[A1] Dias Úteis,API,2021-06,23.0

In [54]:
_df = _df.rename(columns={'indice_relatorio_analise_de_capacidades':'Relatórios de Análise de Capacidade', 
                          'index_codigo_unidade':'Código Unidades', 
                          'index_datas':'Datas', 
                          'Relatórios de Analise de Capacidade':'values'}).replace('-',0)

_df.head(2)

  Relatórios de Análise de Capacidade Código Unidades    Datas values
0                     [A1] Dias Úteis             API  2021-06   23.0
1                     [A1] Dias Úteis             API  2021-07   24.5

In [55]:
_df.dtypes

Relatórios de Análise de Capacidade    object
Código Unidades                        object
Datas                                  object
values                                 object
dtype: object

In [56]:
_df['Datas'] = pd.to_datetime(_df['Datas'])
_df['values'] = _df['values'].astype(float)
_df2 = _df
_df.dtypes

Relatórios de Análise de Capacidade            object
Código Unidades                                object
Datas                                  datetime64[ns]
values                                        float64
dtype: object

In [57]:
# Tabela Normal
dicionario_ordem_relatorio = _dict

_df = _df.pivot_table(index=['Código Unidades','Relatórios de Análise de Capacidade'], columns='Datas', values='values')

_df = _df.reset_index().sort_values(['Código Unidades', 'Relatórios de Análise de Capacidade'])

_df['Ordem'] = _df['Relatórios de Análise de Capacidade']
_df['Ordem']  = _df['Ordem'].map(dicionario_ordem_relatorio)
# # _df['Ordem'] = _df['Relatórios de Análise de Capacidade'].str.split(pat=' ').str[0]
# # _df['Ordem']  = _df['Ordem'].replace(dicionario_ordem_relatorio)


_df = _df.sort_values(['Código Unidades', 'Ordem'])
# #  _df.drop(columns='Ordem', inplace=True)

_df.head(2)

Datas,Código Unidades,Relatórios de Análise de Capacidade,2021-06-01 00:00:00,2021-07-01 00:00:00,2021-08-01 00:00:00,2021-09-01 00:00:00,2021-10-01 00:00:00,2021-11-01 00:00:00,2021-12-01 00:00:00,2022-01-01 00:00:00,...,2022-09-01 00:00:00,2022-10-01 00:00:00,2022-11-01 00:00:00,2022-12-01 00:00:00,2023-01-01 00:00:00,2023-02-01 00:00:00,2023-03-01 00:00:00,2023-04-01 00:00:00,2023-05-01 00:00:00,Ordem
0,API,[A1] Dias Úteis,23.0,24.5,24.0,23.0,22.50,22.00,23.50,23.0,...,23.0,22.5,22.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,API,[B1] Dias Cobertura Cimento,10.0,10.0,10.0,10.0,3.23,3.25,4.03,10.0,...,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0,1

In [58]:
# Tabela Dinâmica
_df2

,Relatórios de Análise de Capacidade,Código Unidades,Datas,values
0,[A1] Dias Úteis,API,2021-06-01,23.000000
1,[A1] Dias Úteis,API,2021-07-01,24.500000
2,[A1] Dias Úteis,API,2021-08-01,24.000000
3,[A1] Dias Úteis,API,2021-09-01,23.000000
4,[A1] Dias Úteis,API,2021-10-01,22.500000
...,...,...,...,...
9835,[E3] Demanda irrestrita = C1,SPA,2023-01-01,53605.599116
9836,[E3] Demanda irrestrita = C1,SPA,2023-02-01,46132.299512
9837,[E3] Demanda irrestrita = C1,SPA,2023-03-01,59553.953942
9838,[E3] Demanda irrestrita = C1,SPA,2023-04-01,52896.214562
9839,[E3] Demanda irrestrita = C1,SPA,2023-05-01,60986.508322

#### Exemplos para criar parte do json do formulário

In [59]:
# Columns para Armar Form
_n = 1
_cols1 = ['{"type":"numeric", "field":' + f'"Period_{i:03d}"'  for i in range(1, 145)]
_cols2 = [", " + '"style":{"color":"#000", "backgroundColor": "#FFF8E3"}, ' + '"format":"0.00", ' + ' "header":' + f'"S{j}"' + ', "readOnly":false, ' + '"columnLength":5}'  for i in range(1, 25) for j in range( 1,7)] 

result = [_cols1[i] + _cols2[i] for i in range(len(_cols1))]
result[0], len(result)
result = [result[i].replace('"',"'") for i in range(len(result))]
# result[0]

In [60]:
import json 

with open('json_data.json', 'w', encoding ='utf-8') as outfile:
    json.dump(result, outfile, ensure_ascii=False, indent=4)
    outfile.close()

In [61]:
# Nested list comprehension tuple 

result = [f'{i,j}'for i, j in zip(range(1, 145), range(1, 7))]
result

['(1, 1)', '(2, 2)', '(3, 3)', '(4, 4)', '(5, 5)', '(6, 6)']

In [62]:
# Nested list comprehension
matrix = [ f'{i, j}' for i in range(1,145) for j in range(1,7)]
matrix[0:2]

['(1, 1)', '(1, 2)']

In [63]:
idx_temporal = ['2021-06', '2021-07', '2021-08', '2021-09', '2021-10', '2021-11', '2021-12', '2022-01', '2022-02', '2022-03', '2022-04', '2022-05', '2022-06', '2022-07', '2022-08', '2022-09', '2022-10', '2022-11', '2022-12', '2023-01', '2023-02', '2023-03', '2023-04', '2023-05']

In [64]:
# Nested columns receive new index.
_df = pd.DataFrame({'label':idx_temporal})
_df['colspan'] = 6
_df.to_dict('record')
_df

C:\Users\ALEXSA~1.IGN\AppData\Local\Temp/ipykernel_12728/460194324.py:4: FutureWarning: Using short name for 'orient' is deprecated. Only the options: ('dict', list, 'series', 'split', 'records', 'index') will be used in a future version. Use one of the above to silence this warning.
  _df.to_dict('record')

      label  colspan
0   2021-06        6
1   2021-07        6
2   2021-08        6
3   2021-09        6
4   2021-10        6
5   2021-11        6
6   2021-12        6
7   2022-01        6
8   2022-02        6
9   2022-03        6
10  2022-04        6
11  2022-05        6
12  2022-06        6
13  2022-07        6
14  2022-08        6
15  2022-09        6
16  2022-10        6
17  2022-11        6
18  2022-12        6
19  2023-01        6
20  2023-02        6
21  2023-03        6
22  2023-04        6
23  2023-05        6

In [65]:
# Nested columns receive new index.

idx_temporal.insert(0, 'Marcha Fornos')
_df = pd.DataFrame({'label':idx_temporal})
_df['colspan'] = 6
_df['colspan'][0] = 3
_df = _df.to_dict('record')
_df

C:\Users\ALEXSA~1.IGN\AppData\Local\Temp/ipykernel_12728/1003000312.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _df['colspan'][0] = 3
C:\Users\ALEXSA~1.IGN\AppData\Local\Temp/ipykernel_12728/1003000312.py:7: FutureWarning: Using short name for 'orient' is deprecated. Only the options: ('dict', list, 'series', 'split', 'records', 'index') will be used in a future version. Use one of the above to silence this warning.
  _df = _df.to_dict('record')

[{'label': 'Marcha Fornos', 'colspan': 3},
 {'label': '2021-06', 'colspan': 6},
 {'label': '2021-07', 'colspan': 6},
 {'label': '2021-08', 'colspan': 6},
 {'label': '2021-09', 'colspan': 6},
 {'label': '2021-10', 'colspan': 6},
 {'label': '2021-11', 'colspan': 6},
 {'label': '2021-12', 'colspan': 6},
 {'label': '2022-01', 'colspan': 6},
 {'label': '2022-02', 'colspan': 6},
 {'label': '2022-03', 'colspan': 6},
 {'label': '2022-04', 'colspan': 6},
 {'label': '2022-05', 'colspan': 6},
 {'label': '2022-06', 'colspan': 6},
 {'label': '2022-07', 'colspan': 6},
 {'label': '2022-08', 'colspan': 6},
 {'label': '2022-09', 'colspan': 6},
 {'label': '2022-10', 'colspan': 6},
 {'label': '2022-11', 'colspan': 6},
 {'label': '2022-12', 'colspan': 6},
 {'label': '2023-01', 'colspan': 6},
 {'label': '2023-02', 'colspan': 6},
 {'label': '2023-03', 'colspan': 6},
 {'label': '2023-04', 'colspan': 6},
 {'label': '2023-05', 'colspan': 6}]

In [66]:
# Nested columns receive new index.

idx_temporal.insert(0, 'Marcha Moinhos')
_df = pd.DataFrame({'label':idx_temporal})
_df['colspan'] = 6
_df['colspan'][0] = 3
_df = _df.to_dict('record')
_df

C:\Users\ALEXSA~1.IGN\AppData\Local\Temp/ipykernel_12728/4263571742.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _df['colspan'][0] = 3
C:\Users\ALEXSA~1.IGN\AppData\Local\Temp/ipykernel_12728/4263571742.py:7: FutureWarning: Using short name for 'orient' is deprecated. Only the options: ('dict', list, 'series', 'split', 'records', 'index') will be used in a future version. Use one of the above to silence this warning.
  _df = _df.to_dict('record')

[{'label': 'Marcha Moinhos', 'colspan': 3},
 {'label': 'Marcha Fornos', 'colspan': 6},
 {'label': '2021-06', 'colspan': 6},
 {'label': '2021-07', 'colspan': 6},
 {'label': '2021-08', 'colspan': 6},
 {'label': '2021-09', 'colspan': 6},
 {'label': '2021-10', 'colspan': 6},
 {'label': '2021-11', 'colspan': 6},
 {'label': '2021-12', 'colspan': 6},
 {'label': '2022-01', 'colspan': 6},
 {'label': '2022-02', 'colspan': 6},
 {'label': '2022-03', 'colspan': 6},
 {'label': '2022-04', 'colspan': 6},
 {'label': '2022-05', 'colspan': 6},
 {'label': '2022-06', 'colspan': 6},
 {'label': '2022-07', 'colspan': 6},
 {'label': '2022-08', 'colspan': 6},
 {'label': '2022-09', 'colspan': 6},
 {'label': '2022-10', 'colspan': 6},
 {'label': '2022-11', 'colspan': 6},
 {'label': '2022-12', 'colspan': 6},
 {'label': '2023-01', 'colspan': 6},
 {'label': '2023-02', 'colspan': 6},
 {'label': '2023-03', 'colspan': 6},
 {'label': '2023-04', 'colspan': 6},
 {'label': '2023-05', 'colspan': 6}]

#### For examples

In [67]:
valores_pares = range(0,50,2)
valores_impares = range(1,50,2)

for valor in valores_impares:    
    print(f"Ímpares: {valor}")

Ímpares: 1
Ímpares: 3
Ímpares: 5
Ímpares: 7
Ímpares: 9
Ímpares: 11
Ímpares: 13
Ímpares: 15
Ímpares: 17
Ímpares: 19
Ímpares: 21
Ímpares: 23
Ímpares: 25
Ímpares: 27
Ímpares: 29
Ímpares: 31
Ímpares: 33
Ímpares: 35
Ímpares: 37
Ímpares: 39
Ímpares: 41
Ímpares: 43
Ímpares: 45
Ímpares: 47
Ímpares: 49

In [68]:
from random import sample
from random import shuffle

valores_pares = list(range(0,50,2))
valores_impares = list(range(1,50,2))
shuffle(valores_pares)
shuffle(valores_impares)
print(valores_pares + valores_impares)

newlist = sample(valores_pares, len(valores_pares))
valores = valores_pares + valores_impares
shuffle(valores)
valores

[f"{'Ímpar' if valor % 2 != 0  else 'Par'}: {valor}" for valor in valores ]

[16, 32, 12, 38, 46, 30, 40, 34, 28, 20, 18, 4, 36, 24, 42, 0, 2, 26, 44, 10, 48, 14, 6, 22, 8, 13, 31, 3, 43, 29, 49, 1, 47, 21, 5, 17, 7, 41, 33, 15, 9, 37, 35, 39, 45, 11, 19, 25, 27, 23]

['Par: 12',
 'Par: 6',
 'Par: 28',
 'Ímpar: 1',
 'Ímpar: 15',
 'Par: 4',
 'Par: 32',
 'Par: 30',
 'Par: 8',
 'Ímpar: 19',
 'Ímpar: 17',
 'Ímpar: 11',
 'Ímpar: 49',
 'Ímpar: 3',
 'Par: 40',
 'Par: 16',
 'Ímpar: 31',
 'Ímpar: 23',
 'Ímpar: 13',
 'Ímpar: 39',
 'Par: 36',
 'Ímpar: 21',
 'Ímpar: 47',
 'Ímpar: 5',
 'Ímpar: 45',
 'Ímpar: 41',
 'Ímpar: 7',
 'Par: 10',
 'Par: 2',
 'Par: 46',
 'Par: 22',
 'Par: 24',
 'Par: 44',
 'Ímpar: 37',
 'Ímpar: 35',
 'Ímpar: 25',
 'Par: 26',
 'Par: 38',
 'Ímpar: 43',
 'Ímpar: 33',
 'Par: 14',
 'Par: 20',
 'Par: 0',
 'Ímpar: 27',
 'Ímpar: 9',
 'Par: 18',
 'Ímpar: 29',
 'Par: 34',
 'Par: 48',
 'Par: 42']

In [69]:
data  = {'Coluna1':['Regional 1', 'Regional 2', ''],  'Coluna2':['Região Leste', 'Região Norte', ''], 'Coluna3':['Atacado', 'Atacado', ''], 'vol_dia':[10000, 500, 562]}
_df = pd.DataFrame(data)
_df

      Coluna1       Coluna2  Coluna3  vol_dia
0  Regional 1  Região Leste  Atacado    10000
1  Regional 2  Região Norte  Atacado      500
2                                         562

In [70]:
new_columns = ['Região', 'Código Região']
for i in range(len(new_columns)):
    _df[new_columns[i]] = _df['Coluna1'].str.split(' ', expand=True)[i] 
    
_df

      Coluna1       Coluna2  Coluna3  vol_dia    Região Código Região
0  Regional 1  Região Leste  Atacado    10000  Regional             1
1  Regional 2  Região Norte  Atacado      500  Regional             2
2                                         562                    None

#### OS Comands

In [71]:
# pega o caminho atual do root até o diretório atual.
current_path = os.getcwd()
current_path

'c:\\Users\\alexsandro.ignacio\\OneDrive - WCA Soluções de Inteligência Comercial\\Documentos\\Docs\\Git\\python_developer\\Planejamento - Lógicas'

In [72]:
# Lista os files no diretório atual
os.listdir(current_path)

['Data Base',
 'Json Examples by Project',
 'json_data.json',
 'Python Functions for Forms',
 'Scripts e Notebooks',
 'Xarray']

In [73]:
_directory_name = 'Data Base'
_file_name = 'Analise_de_Capacidade_base_2022-02-25-12-16-27.csv'

# Concatena um path + diretório e file.
target_path = os.path.join(current_path, _directory_name, _file_name)
target_path

'c:\\Users\\alexsandro.ignacio\\OneDrive - WCA Soluções de Inteligência Comercial\\Documentos\\Docs\\Git\\python_developer\\Planejamento - Lógicas\\Data Base\\Analise_de_Capacidade_base_2022-02-25-12-16-27.csv'

In [74]:
_df = pd.read_csv(target_path, sep=';')
_df.head(2)

,indice_relatorio_analise_de_capacidades,index_codigo_unidade,index_datas,Relatórios de Analise de Capacidade
0,[A1] Dias Úteis,API,2021-06,23.0
1,[A1] Dias Úteis,API,2021-07,24.5

#### Criando Linhas

In [75]:
data = {'Cálculo':['A','B','C'], 'Valores':[1,2,3]}
_df = pd.DataFrame(data)
_df

  Cálculo  Valores
0       A        1
1       B        2
2       C        3

In [76]:
_df_aux = _df.copy()
_df_aux.columns = ['Cálculo', 'Valores']
_df_aux.loc[0] = [_df.loc[0][0] + str(_df.loc[0][1]) ,  _df.loc[0][1] + _df.loc[0][1]]
_df_aux.loc[1] = [_df.loc[1][0] + str(_df.loc[1][1]),  _df.loc[1][1] + _df.loc[1][1]]
_df_aux

  Cálculo  Valores
0      A1        2
1      B2        4
2       C        3

In [77]:
_cols1 = [f"Period_{i:03d}" for i in range(1, 145)]
_cols2 = [ f"-S{j}"  for i in range(1, 25) for j in range( 1,7)] 

[_cols1[i] + _cols2[i] for i in range(len(_cols1))]

['Period_001-S1',
 'Period_002-S2',
 'Period_003-S3',
 'Period_004-S4',
 'Period_005-S5',
 'Period_006-S6',
 'Period_007-S1',
 'Period_008-S2',
 'Period_009-S3',
 'Period_010-S4',
 'Period_011-S5',
 'Period_012-S6',
 'Period_013-S1',
 'Period_014-S2',
 'Period_015-S3',
 'Period_016-S4',
 'Period_017-S5',
 'Period_018-S6',
 'Period_019-S1',
 'Period_020-S2',
 'Period_021-S3',
 'Period_022-S4',
 'Period_023-S5',
 'Period_024-S6',
 'Period_025-S1',
 'Period_026-S2',
 'Period_027-S3',
 'Period_028-S4',
 'Period_029-S5',
 'Period_030-S6',
 'Period_031-S1',
 'Period_032-S2',
 'Period_033-S3',
 'Period_034-S4',
 'Period_035-S5',
 'Period_036-S6',
 'Period_037-S1',
 'Period_038-S2',
 'Period_039-S3',
 'Period_040-S4',
 'Period_041-S5',
 'Period_042-S6',
 'Period_043-S1',
 'Period_044-S2',
 'Period_045-S3',
 'Period_046-S4',
 'Period_047-S5',
 'Period_048-S6',
 'Period_049-S1',
 'Period_050-S2',
 'Period_051-S3',
 'Period_052-S4',
 'Period_053-S5',
 'Period_054-S6',
 'Period_055-S1',
 'Period_056-S2',
 'Period_057-S3',
 'Period_058-S4',
 'Period_059-S5',
 'Period_060-S6',
 'Period_061-S1',
 'Period_062-S2',
 'Period_063-S3',
 'Period_064-S4',
 'Period_065-S5',
 'Period_066-S6',
 'Period_067-S1',
 'Period_068-S2',
 'Period_069-S3',
 'Period_070-S4',
 'Period_071-S5',
 'Period_072-S6',
 'Period_073-S1',
 'Period_074-S2',
 'Period_075-S3',
 'Period_076-S4',
 'Period_077-S5',
 'Period_078-S6',
 'Period_079-S1',
 'Period_080-S2',
 'Period_081-S3',
 'Period_082-S4',
 'Period_083-S5',
 'Period_084-S6',
 'Period_085-S1',
 'Period_086-S2',
 'Period_087-S3',
 'Period_088-S4',
 'Period_089-S5',
 'Period_090-S6',
 'Period_091-S1',
 'Period_092-S2',
 'Period_093-S3',
 'Period_094-S4',
 'Period_095-S5',
 'Period_096-S6',
 'Period_097-S1',
 'Period_098-S2',
 'Period_099-S3',
 'Period_100-S4',
 'Period_101-S5',
 'Period_102-S6',
 'Period_103-S1',
 'Period_104-S2',
 'Period_105-S3',
 'Period_106-S4',
 'Period_107-S5',
 'Period_108-S6',
 'Period_109-S1',
 'Period_110-S2',
 'Period_111-S3',
 'Period_112-S4',
 'Period_113-S5',
 'Period_114-S6',
 'Period_115-S1',
 'Period_116-S2',
 'Period_117-S3',
 'Period_118-S4',
 'Period_119-S5',
 'Period_120-S6',
 'Period_121-S1',
 'Period_122-S2',
 'Period_123-S3',
 'Period_124-S4',
 'Period_125-S5',
 'Period_126-S6',
 'Period_127-S1',
 'Period_128-S2',
 'Period_129-S3',
 'Period_130-S4',
 'Period_131-S5',
 'Period_132-S6',
 'Period_133-S1',
 'Period_134-S2',
 'Period_135-S3',
 'Period_136-S4',
 'Period_137-S5',
 'Period_138-S6',
 'Period_139-S1',
 'Period_140-S2',
 'Period_141-S3',
 'Period_142-S4',
 'Period_143-S5',
 'Period_144-S6']

#### Select excludings sets

In [78]:
data1 = np.array([ [0,1,2,3], [1,8,3,0], [2,9,3,0], [3,2,3,0] ]) 
_df1 = pd.DataFrame(data1, columns=['id', 'col1', 'col2', 'col3'])
_df1

data2 = np.array([[0,1,2,3], [1,1,2,8], [2,5,2,4], [3,9,6,8]])
_df2 = pd.DataFrame(data2, columns=['id', 'col4', 'col5', 'col6'])
_df2

_df = _df1.merge(_df2, on=['id'], how='left')
_df

   id  col1  col2  col3  col4  col5  col6
0   0     1     2     3     1     2     3
1   1     8     3     0     1     2     8
2   2     9     3     0     5     2     4
3   3     2     3     0     9     6     8

In [79]:
_df

   id  col1  col2  col3  col4  col5  col6
0   0     1     2     3     1     2     3
1   1     8     3     0     1     2     8
2   2     9     3     0     5     2     4
3   3     2     3     0     9     6     8

In [80]:
# drop by Name
df1 = _df.drop(['col1', 'col2'], axis=1)
df1

   id  col3  col4  col5  col6
0   0     3     1     2     3
1   1     0     1     2     8
2   2     0     5     2     4
3   3     0     9     6     8

In [81]:
_df.columns.difference(['col1', 'col2'])

Index(['col3', 'col4', 'col5', 'col6', 'id'], dtype='object')

In [82]:
import numpy as np
import pandas as pd

# Create a dataframe with columns A,B,C and D
df = pd.DataFrame(np.random.randn(100, 4), columns=list('ABCD'))

# include the columns you want
df[df.columns[df.columns.isin(['A', 'B'])]]

# or more simply include columns:
df[['A', 'B']]

# exclude columns you don't want
df[df.columns[~df.columns.isin(['C','D'])]]

# or even simpler since 0.24
# with the caveat that it reorders columns alphabetically 
df[df.columns.difference(['C', 'D'])]

           A         B
0   1.479165 -1.241565
1   0.460859 -0.471399
2   2.240866  1.784095
3  -0.882978  2.356468
4   1.470437  0.060894
..       ...       ...
95  1.282717 -0.074938
96 -1.453197 -0.811069
97  0.377147  0.853869
98  0.571466  1.456934
99 -0.132013 -0.491107

[100 rows x 2 columns]

In [83]:
# Create a dataframe with columns A,B,C and D
df = pd.DataFrame(np.random.randn(100, 4), columns=list('ABCD'))

In [84]:
cols = [col for col in df.columns if col not in ['B', 'D']]
df2 = df[cols]

##### link: https://stackoverflow.com/questions/14940743/selecting-excluding-sets-of-columns-in-pandas

#### Criando totais e subtotais com pandas

##### Configurando pandas option

In [85]:
pd.options.display.max_columns

20

In [86]:
pd.set_option('display.max_columns', 100)

In [87]:
pd.options.display.max_columns

100

In [88]:
pd.options.display.max_columns = 10

In [89]:
pd.options.display.max_columns

10

In [90]:
path = os.getcwd()
path

'c:\\Users\\alexsandro.ignacio\\OneDrive - WCA Soluções de Inteligência Comercial\\Documentos\\Docs\\Git\\python_developer\\Planejamento - Lógicas'

In [91]:
os.chdir( 'c:\\Users\\alexsandro.ignacio\\OneDrive - WCA Soluções de Inteligência Comercial\\Documentos\\Docs\\Git\\python_developer\\Planejamento - Lógicas')

In [92]:
path = os.getcwd()
path

'c:\\Users\\alexsandro.ignacio\\OneDrive - WCA Soluções de Inteligência Comercial\\Documentos\\Docs\\Git\\python_developer\\Planejamento - Lógicas'

##### ReasCSV dataset

In [93]:
df = pd.read_csv(f'{path}/Data Base/data_set_subtotals_totals.csv', sep=';')

In [94]:
df = 'None'
print(df)
df = pd.read_csv( os.path.join('Data Base','data_set_subtotals_totals.csv'), sep=';')

None

In [95]:
df

    Year  Month Video_Title  Views  Impressions
0   2019      7   Vídeo XYZ     23           16
1   2019      8   Vídeo XYZ     51           43
2   2019      9   Vídeo XYZ     64           40
3   2019     10   Vídeo XYZ    110           48
4   2019    122   Vídeo XYZ    156          101
5   2019     12   Vídeo XYZ    142           95
6   2020      1   Vídeo XYZ    214          143
7   2020      2   Vídeo XYZ    301          148
8   2020      3   Vídeo XYZ    354          215
9   2020      4   Vídeo XYZ    493          221
10  2020      5   Vídeo XYZ    393          176
11  2020      6   Vídeo XYZ    365          192
12  2020      7   Vídeo XYZ    339          243
13  2020      8   Vídeo XYZ    287          183
14  2020      9   Vídeo XYZ    400          250
15  2020      7   Vídeo ABC    247          119
16  2020      8   Vídeo ABC    188           77
17  2020      9   Vídeo ABC    344          126
18  2019      2   Vídeo AAA     58           10
19  2019      3   Vídeo AAA    107           34
20  2019      4   Vídeo AAA    202           71
21  2019      5   Vídeo AAA    301          125
22  2019      6   Vídeo AAA    377          190
23  2019      7   Vídeo AAA    486          216
24  2019      8   Vídeo AAA    456          247
25  2019      9   Vídeo AAA    527          528
26  2019     10   Vídeo AAA    582          666
27  2019     11   Vídeo AAA    697          781
28  2019     12   Vídeo AAA    640          673
29  2020      1   Vídeo AAA    818          691
30  2020      2   Vídeo AAA    892          736
31  2020      3   Vídeo AAA   1019          758
32  2020      4   Vídeo AAA   1265          860
33  2020      5   Vídeo AAA   1300          821
34  2020      6   Vídeo AAA   1292         1021
35  2020      7   Vídeo AAA   1195          991
36  2020      8   Vídeo AAA   1129          817
37  2020      9   Vídeo AAA   1099          760

##### Adding Total

In [96]:
df.columns

Index(['Year', 'Month', 'Video_Title', 'Views', 'Impressions'], dtype='object')

In [97]:
df[['Views', 'Impressions']].sum()

Views          18913
Impressions    13432
dtype: int64

In [98]:
df.append(df[['Views', 'Impressions']].sum().rename('Total')).fillna('')

         Year  Month Video_Title    Views  Impressions
0      2019.0    7.0   Vídeo XYZ     23.0         16.0
1      2019.0    8.0   Vídeo XYZ     51.0         43.0
2      2019.0    9.0   Vídeo XYZ     64.0         40.0
3      2019.0   10.0   Vídeo XYZ    110.0         48.0
4      2019.0  122.0   Vídeo XYZ    156.0        101.0
5      2019.0   12.0   Vídeo XYZ    142.0         95.0
6      2020.0    1.0   Vídeo XYZ    214.0        143.0
7      2020.0    2.0   Vídeo XYZ    301.0        148.0
8      2020.0    3.0   Vídeo XYZ    354.0        215.0
9      2020.0    4.0   Vídeo XYZ    493.0        221.0
10     2020.0    5.0   Vídeo XYZ    393.0        176.0
11     2020.0    6.0   Vídeo XYZ    365.0        192.0
12     2020.0    7.0   Vídeo XYZ    339.0        243.0
13     2020.0    8.0   Vídeo XYZ    287.0        183.0
14     2020.0    9.0   Vídeo XYZ    400.0        250.0
15     2020.0    7.0   Vídeo ABC    247.0        119.0
16     2020.0    8.0   Vídeo ABC    188.0         77.0
17     2020.0    9.0   Vídeo ABC    344.0        126.0
18     2019.0    2.0   Vídeo AAA     58.0         10.0
19     2019.0    3.0   Vídeo AAA    107.0         34.0
20     2019.0    4.0   Vídeo AAA    202.0         71.0
21     2019.0    5.0   Vídeo AAA    301.0        125.0
22     2019.0    6.0   Vídeo AAA    377.0        190.0
23     2019.0    7.0   Vídeo AAA    486.0        216.0
24     2019.0    8.0   Vídeo AAA    456.0        247.0
25     2019.0    9.0   Vídeo AAA    527.0        528.0
26     2019.0   10.0   Vídeo AAA    582.0        666.0
27     2019.0   11.0   Vídeo AAA    697.0        781.0
28     2019.0   12.0   Vídeo AAA    640.0        673.0
29     2020.0    1.0   Vídeo AAA    818.0        691.0
30     2020.0    2.0   Vídeo AAA    892.0        736.0
31     2020.0    3.0   Vídeo AAA   1019.0        758.0
32     2020.0    4.0   Vídeo AAA   1265.0        860.0
33     2020.0    5.0   Vídeo AAA   1300.0        821.0
34     2020.0    6.0   Vídeo AAA   1292.0       1021.0
35     2020.0    7.0   Vídeo AAA   1195.0        991.0
36     2020.0    8.0   Vídeo AAA   1129.0        817.0
37     2020.0    9.0   Vídeo AAA   1099.0        760.0
Total                             18913.0      13432.0

In [99]:
df.loc['Total'] = df[['Views', 'Impressions']].sum()
df.loc['Total'] = df.loc['Total'].fillna('')
df

         Year  Month Video_Title    Views  Impressions
0      2019.0    7.0   Vídeo XYZ     23.0         16.0
1      2019.0    8.0   Vídeo XYZ     51.0         43.0
2      2019.0    9.0   Vídeo XYZ     64.0         40.0
3      2019.0   10.0   Vídeo XYZ    110.0         48.0
4      2019.0  122.0   Vídeo XYZ    156.0        101.0
5      2019.0   12.0   Vídeo XYZ    142.0         95.0
6      2020.0    1.0   Vídeo XYZ    214.0        143.0
7      2020.0    2.0   Vídeo XYZ    301.0        148.0
8      2020.0    3.0   Vídeo XYZ    354.0        215.0
9      2020.0    4.0   Vídeo XYZ    493.0        221.0
10     2020.0    5.0   Vídeo XYZ    393.0        176.0
11     2020.0    6.0   Vídeo XYZ    365.0        192.0
12     2020.0    7.0   Vídeo XYZ    339.0        243.0
13     2020.0    8.0   Vídeo XYZ    287.0        183.0
14     2020.0    9.0   Vídeo XYZ    400.0        250.0
15     2020.0    7.0   Vídeo ABC    247.0        119.0
16     2020.0    8.0   Vídeo ABC    188.0         77.0
17     2020.0    9.0   Vídeo ABC    344.0        126.0
18     2019.0    2.0   Vídeo AAA     58.0         10.0
19     2019.0    3.0   Vídeo AAA    107.0         34.0
20     2019.0    4.0   Vídeo AAA    202.0         71.0
21     2019.0    5.0   Vídeo AAA    301.0        125.0
22     2019.0    6.0   Vídeo AAA    377.0        190.0
23     2019.0    7.0   Vídeo AAA    486.0        216.0
24     2019.0    8.0   Vídeo AAA    456.0        247.0
25     2019.0    9.0   Vídeo AAA    527.0        528.0
26     2019.0   10.0   Vídeo AAA    582.0        666.0
27     2019.0   11.0   Vídeo AAA    697.0        781.0
28     2019.0   12.0   Vídeo AAA    640.0        673.0
29     2020.0    1.0   Vídeo AAA    818.0        691.0
30     2020.0    2.0   Vídeo AAA    892.0        736.0
31     2020.0    3.0   Vídeo AAA   1019.0        758.0
32     2020.0    4.0   Vídeo AAA   1265.0        860.0
33     2020.0    5.0   Vídeo AAA   1300.0        821.0
34     2020.0    6.0   Vídeo AAA   1292.0       1021.0
35     2020.0    7.0   Vídeo AAA   1195.0        991.0
36     2020.0    8.0   Vídeo AAA   1129.0        817.0
37     2020.0    9.0   Vídeo AAA   1099.0        760.0
Total                             18913.0      13432.0

##### Adding Subtotals

In [100]:
df.columns

Index(['Year', 'Month', 'Video_Title', 'Views', 'Impressions'], dtype='object')

In [101]:
df = df.drop(labels='Total', axis=0)
df.tail(5)

      Year Month Video_Title   Views  Impressions
33  2020.0   5.0   Vídeo AAA  1300.0        821.0
34  2020.0   6.0   Vídeo AAA  1292.0       1021.0
35  2020.0   7.0   Vídeo AAA  1195.0        991.0
36  2020.0   8.0   Vídeo AAA  1129.0        817.0
37  2020.0   9.0   Vídeo AAA  1099.0        760.0

In [102]:
for label, _df in df.groupby(['Video_Title', 'Year']):
    print(label)
    print(_df)
    print()

('Vídeo AAA', 2019.0)
      Year Month Video_Title  Views  Impressions
18  2019.0   2.0   Vídeo AAA   58.0         10.0
19  2019.0   3.0   Vídeo AAA  107.0         34.0
20  2019.0   4.0   Vídeo AAA  202.0         71.0
21  2019.0   5.0   Vídeo AAA  301.0        125.0
22  2019.0   6.0   Vídeo AAA  377.0        190.0
23  2019.0   7.0   Vídeo AAA  486.0        216.0
24  2019.0   8.0   Vídeo AAA  456.0        247.0
25  2019.0   9.0   Vídeo AAA  527.0        528.0
26  2019.0  10.0   Vídeo AAA  582.0        666.0
27  2019.0  11.0   Vídeo AAA  697.0        781.0
28  2019.0  12.0   Vídeo AAA  640.0        673.0

('Vídeo AAA', 2020.0)
      Year Month Video_Title   Views  Impressions
29  2020.0   1.0   Vídeo AAA   818.0        691.0
30  2020.0   2.0   Vídeo AAA   892.0        736.0
31  2020.0   3.0   Vídeo AAA  1019.0        758.0
32  2020.0   4.0   Vídeo AAA  1265.0        860.0
33  2020.0   5.0   Vídeo AAA  1300.0        821.0
34  2020.0   6.0   Vídeo AAA  1292.0       1021.0
35  2020.0   7.0   Vídeo AAA  1195.0        991.0
36  2020.0   8.0   Vídeo AAA  1129.0        817.0
37  2020.0   9.0   Vídeo AAA  1099.0        760.0

('Vídeo ABC', 2020.0)
      Year Month Video_Title  Views  Impressions
15  2020.0   7.0   Vídeo ABC  247.0        119.0
16  2020.0   8.0   Vídeo ABC  188.0         77.0
17  2020.0   9.0   Vídeo ABC  344.0        126.0

('Vídeo XYZ', 2019.0)
     Year  Month Video_Title  Views  Impressions
0  2019.0    7.0   Vídeo XYZ   23.0         16.0
1  2019.0    8.0   Vídeo XYZ   51.0         43.0
2  2019.0    9.0   Vídeo XYZ   64.0         40.0
3  2019.0   10.0   Vídeo XYZ  110.0         48.0
4  2019.0  122.0   Vídeo XYZ  156.0        101.0
5  2019.0   12.0   Vídeo XYZ  142.0         95.0

('Vídeo XYZ', 2020.0)
      Year Month Video_Title  Views  Impressions
6   2020.0   1.0   Vídeo XYZ  214.0        143.0
7   2020.0   2.0   Vídeo XYZ  301.0        148.0
8   2020.0   3.0   Vídeo XYZ  354.0        215.0
9   2020.0   4.0   Vídeo XYZ  493.0        221.0
10  2020.0   5.0   Vídeo XYZ  393.0        176.0
11  2020.0   6.0   Vídeo XYZ  365.0        192.0
12  2020.0   7.0   Vídeo XYZ  339.0        243.0
13  2020.0   8.0   Vídeo XYZ  287.0        183.0
14  2020.0   9.0   Vídeo XYZ  400.0        250.0

In [103]:
container= []
for label, _df in df.groupby(['Video_Title', 'Year']):
    _df.loc[f'{label[0]} {label[1]:.0f} Subtotal'] = _df[['Views', 'Impressions']].sum()
    container.append(_df.fillna(''))
container

[                           Year Month Video_Title   Views  Impressions
 18                       2019.0   2.0   Vídeo AAA    58.0         10.0
 19                       2019.0   3.0   Vídeo AAA   107.0         34.0
 20                       2019.0   4.0   Vídeo AAA   202.0         71.0
 21                       2019.0   5.0   Vídeo AAA   301.0        125.0
 22                       2019.0   6.0   Vídeo AAA   377.0        190.0
 23                       2019.0   7.0   Vídeo AAA   486.0        216.0
 24                       2019.0   8.0   Vídeo AAA   456.0        247.0
 25                       2019.0   9.0   Vídeo AAA   527.0        528.0
 26                       2019.0  10.0   Vídeo AAA   582.0        666.0
 27                       2019.0  11.0   Vídeo AAA   697.0        781.0
 28                       2019.0  12.0   Vídeo AAA   640.0        673.0
 Vídeo AAA 2019 Subtotal                            4433.0       3541.0,
                            Year Month Video_Title    Views  Impressions
 29                       2020.0   1.0   Vídeo AAA    818.0        691.0
 30                       2020.0   2.0   Vídeo AAA    892.0        736.0
 31                       2020.0   3.0   Vídeo AAA   1019.0        758.0
 32                       2020.0   4.0   Vídeo AAA   1265.0        860.0
 33                       2020.0   5.0   Vídeo AAA   1300.0        821.0
 34                       2020.0   6.0   Vídeo AAA   1292.0       1021.0
 35                       2020.0   7.0   Vídeo AAA   1195.0        991.0
 36                       2020.0   8.0   Vídeo AAA   1129.0        817.0
 37                       2020.0   9.0   Vídeo AAA   1099.0        760.0
 Vídeo AAA 2020 Subtotal                            10009.0       7455.0,
                            Year Month Video_Title  Views  Impressions
 15                       2020.0   7.0   Vídeo ABC  247.0        119.0
 16                       2020.0   8.0   Vídeo ABC  188.0         77.0
 17                       2020.0   9.0   Vídeo ABC  344.0        126.0
 Vídeo ABC 2020 Subtotal                            779.0        322.0,
                            Year  Month Video_Title  Views  Impressions
 0                        2019.0    7.0   Vídeo XYZ   23.0         16.0
 1                        2019.0    8.0   Vídeo XYZ   51.0         43.0
 2                        2019.0    9.0   Vídeo XYZ   64.0         40.0
 3                        2019.0   10.0   Vídeo XYZ  110.0         48.0
 4                        2019.0  122.0   Vídeo XYZ  156.0        101.0
 5                        2019.0   12.0   Vídeo XYZ  142.0         95.0
 Vídeo XYZ 2019 Subtotal                             546.0        343.0,
                            Year Month Video_Title   Views  Impressions
 6                        2020.0   1.0   Vídeo XYZ   214.0        143.0
 7                        2020.0   2.0   Vídeo XYZ   301.0        148.0
 8                        2020.0   3.0   Vídeo XYZ   354.0        215.0
 9                        2020.0   4.0   Vídeo XYZ   493.0        221.0
 10                       2020.0   5.0   Vídeo XYZ   393.0        176.0
 11                       2020.0   6.0   Vídeo XYZ   365.0        192.0
 12                       2020.0   7.0   Vídeo XYZ   339.0        243.0
 13                       2020.0   8.0   Vídeo XYZ   287.0        183.0
 14                       2020.0   9.0   Vídeo XYZ   400.0        250.0
 Vídeo XYZ 2020 Subtotal                            3146.0       1771.0]

In [104]:
_df_summary = pd.concat(container)
_df_summary

                           Year  Month Video_Title    Views  Impressions
18                       2019.0    2.0   Vídeo AAA     58.0         10.0
19                       2019.0    3.0   Vídeo AAA    107.0         34.0
20                       2019.0    4.0   Vídeo AAA    202.0         71.0
21                       2019.0    5.0   Vídeo AAA    301.0        125.0
22                       2019.0    6.0   Vídeo AAA    377.0        190.0
23                       2019.0    7.0   Vídeo AAA    486.0        216.0
24                       2019.0    8.0   Vídeo AAA    456.0        247.0
25                       2019.0    9.0   Vídeo AAA    527.0        528.0
26                       2019.0   10.0   Vídeo AAA    582.0        666.0
27                       2019.0   11.0   Vídeo AAA    697.0        781.0
28                       2019.0   12.0   Vídeo AAA    640.0        673.0
Vídeo AAA 2019 Subtotal                              4433.0       3541.0
29                       2020.0    1.0   Vídeo AAA    818.0        691.0
30                       2020.0    2.0   Vídeo AAA    892.0        736.0
31                       2020.0    3.0   Vídeo AAA   1019.0        758.0
32                       2020.0    4.0   Vídeo AAA   1265.0        860.0
33                       2020.0    5.0   Vídeo AAA   1300.0        821.0
34                       2020.0    6.0   Vídeo AAA   1292.0       1021.0
35                       2020.0    7.0   Vídeo AAA   1195.0        991.0
36                       2020.0    8.0   Vídeo AAA   1129.0        817.0
37                       2020.0    9.0   Vídeo AAA   1099.0        760.0
Vídeo AAA 2020 Subtotal                             10009.0       7455.0
15                       2020.0    7.0   Vídeo ABC    247.0        119.0
16                       2020.0    8.0   Vídeo ABC    188.0         77.0
17                       2020.0    9.0   Vídeo ABC    344.0        126.0
Vídeo ABC 2020 Subtotal                               779.0        322.0
0                        2019.0    7.0   Vídeo XYZ     23.0         16.0
1                        2019.0    8.0   Vídeo XYZ     51.0         43.0
2                        2019.0    9.0   Vídeo XYZ     64.0         40.0
3                        2019.0   10.0   Vídeo XYZ    110.0         48.0
4                        2019.0  122.0   Vídeo XYZ    156.0        101.0
5                        2019.0   12.0   Vídeo XYZ    142.0         95.0
Vídeo XYZ 2019 Subtotal                               546.0        343.0
6                        2020.0    1.0   Vídeo XYZ    214.0        143.0
7                        2020.0    2.0   Vídeo XYZ    301.0        148.0
8                        2020.0    3.0   Vídeo XYZ    354.0        215.0
9                        2020.0    4.0   Vídeo XYZ    493.0        221.0
10                       2020.0    5.0   Vídeo XYZ    393.0        176.0
11                       2020.0    6.0   Vídeo XYZ    365.0        192.0
12                       2020.0    7.0   Vídeo XYZ    339.0        243.0
13                       2020.0    8.0   Vídeo XYZ    287.0        183.0
14                       2020.0    9.0   Vídeo XYZ    400.0        250.0
Vídeo XYZ 2020 Subtotal                              3146.0       1771.0

##### Adding totals of subtotals

In [105]:
_df_summary.loc['Total'] = df[['Views', 'Impressions']].sum()

In [106]:
_df_summary.fillna('')

                           Year  Month Video_Title    Views  Impressions
18                       2019.0    2.0   Vídeo AAA     58.0         10.0
19                       2019.0    3.0   Vídeo AAA    107.0         34.0
20                       2019.0    4.0   Vídeo AAA    202.0         71.0
21                       2019.0    5.0   Vídeo AAA    301.0        125.0
22                       2019.0    6.0   Vídeo AAA    377.0        190.0
23                       2019.0    7.0   Vídeo AAA    486.0        216.0
24                       2019.0    8.0   Vídeo AAA    456.0        247.0
25                       2019.0    9.0   Vídeo AAA    527.0        528.0
26                       2019.0   10.0   Vídeo AAA    582.0        666.0
27                       2019.0   11.0   Vídeo AAA    697.0        781.0
28                       2019.0   12.0   Vídeo AAA    640.0        673.0
Vídeo AAA 2019 Subtotal                              4433.0       3541.0
29                       2020.0    1.0   Vídeo AAA    818.0        691.0
30                       2020.0    2.0   Vídeo AAA    892.0        736.0
31                       2020.0    3.0   Vídeo AAA   1019.0        758.0
32                       2020.0    4.0   Vídeo AAA   1265.0        860.0
33                       2020.0    5.0   Vídeo AAA   1300.0        821.0
34                       2020.0    6.0   Vídeo AAA   1292.0       1021.0
35                       2020.0    7.0   Vídeo AAA   1195.0        991.0
36                       2020.0    8.0   Vídeo AAA   1129.0        817.0
37                       2020.0    9.0   Vídeo AAA   1099.0        760.0
Vídeo AAA 2020 Subtotal                             10009.0       7455.0
15                       2020.0    7.0   Vídeo ABC    247.0        119.0
16                       2020.0    8.0   Vídeo ABC    188.0         77.0
17                       2020.0    9.0   Vídeo ABC    344.0        126.0
Vídeo ABC 2020 Subtotal                               779.0        322.0
0                        2019.0    7.0   Vídeo XYZ     23.0         16.0
1                        2019.0    8.0   Vídeo XYZ     51.0         43.0
2                        2019.0    9.0   Vídeo XYZ     64.0         40.0
3                        2019.0   10.0   Vídeo XYZ    110.0         48.0
4                        2019.0  122.0   Vídeo XYZ    156.0        101.0
5                        2019.0   12.0   Vídeo XYZ    142.0         95.0
Vídeo XYZ 2019 Subtotal                               546.0        343.0
6                        2020.0    1.0   Vídeo XYZ    214.0        143.0
7                        2020.0    2.0   Vídeo XYZ    301.0        148.0
8                        2020.0    3.0   Vídeo XYZ    354.0        215.0
9                        2020.0    4.0   Vídeo XYZ    493.0        221.0
10                       2020.0    5.0   Vídeo XYZ    393.0        176.0
11                       2020.0    6.0   Vídeo XYZ    365.0        192.0
12                       2020.0    7.0   Vídeo XYZ    339.0        243.0
13                       2020.0    8.0   Vídeo XYZ    287.0        183.0
14                       2020.0    9.0   Vídeo XYZ    400.0        250.0
Vídeo XYZ 2020 Subtotal                              3146.0       1771.0
Total                                               18913.0      13432.0

In [107]:
# Selecting by loc
_df_summary.loc[2]['Year']

2019.0

In [108]:
_df_summary.loc[2][0]

2019.0

In [109]:
_df_summary[_df_summary['Video_Title'].apply(lambda x: isinstance(x, str))]['Video_Title'].head(5)

18    Vídeo AAA
19    Vídeo AAA
20    Vídeo AAA
21    Vídeo AAA
22    Vídeo AAA
Name: Video_Title, dtype: object

In [110]:
selecting_data = _df_summary[_df_summary['Year']==''] 
selecting_data.head(5)

                        Year Month Video_Title    Views  Impressions
Vídeo AAA 2019 Subtotal                          4433.0       3541.0
Vídeo AAA 2020 Subtotal                         10009.0       7455.0
Vídeo ABC 2020 Subtotal                           779.0        322.0
Vídeo XYZ 2019 Subtotal                           546.0        343.0
Vídeo XYZ 2020 Subtotal                          3146.0       1771.0

In [111]:
_df_summary = _df_summary.reset_index()

In [112]:
for index, row in _df_summary.iterrows():
    print(index)
    print(row)
    if type(row['index']) is str:
        _df_summary.loc[index,'Year'] = row['index']

0
index                 18
Year              2019.0
Month                2.0
Video_Title    Vídeo AAA
Views               58.0
Impressions         10.0
Name: 0, dtype: object
1
index                 19
Year              2019.0
Month                3.0
Video_Title    Vídeo AAA
Views              107.0
Impressions         34.0
Name: 1, dtype: object
2
index                 20
Year              2019.0
Month                4.0
Video_Title    Vídeo AAA
Views              202.0
Impressions         71.0
Name: 2, dtype: object
3
index                 21
Year              2019.0
Month                5.0
Video_Title    Vídeo AAA
Views              301.0
Impressions        125.0
Name: 3, dtype: object
4
index                 22
Year              2019.0
Month                6.0
Video_Title    Vídeo AAA
Views              377.0
Impressions        190.0
Name: 4, dtype: object
5
index                 23
Year              2019.0
Month                7.0
Video_Title    Vídeo AAA
Views              486.0
Impressions        216.0
Name: 5, dtype: object
6
index                 24
Year              2019.0
Month                8.0
Video_Title    Vídeo AAA
Views              456.0
Impressions        247.0
Name: 6, dtype: object
7
index                 25
Year              2019.0
Month                9.0
Video_Title    Vídeo AAA
Views              527.0
Impressions        528.0
Name: 7, dtype: object
8
index                 26
Year              2019.0
Month               10.0
Video_Title    Vídeo AAA
Views              582.0
Impressions        666.0
Name: 8, dtype: object
9
index                 27
Year              2019.0
Month               11.0
Video_Title    Vídeo AAA
Views              697.0
Impressions        781.0
Name: 9, dtype: object
10
index                 28
Year              2019.0
Month               12.0
Video_Title    Vídeo AAA
Views              640.0
Impressions        673.0
Name: 10, dtype: object
11
index          Vídeo AAA 2019 Subtotal
Year
Month
Video_Title
Views                           4433.0
Impressions                     3541.0
Name: 11, dtype: object
12
index                 29
Year              2020.0
Month                1.0
Video_Title    Vídeo AAA
Views              818.0
Impressions        691.0
Name: 12, dtype: object
13
index                 30
Year              2020.0
Month                2.0
Video_Title    Vídeo AAA
Views              892.0
Impressions        736.0
Name: 13, dtype: object
14
index                 31
Year              2020.0
Month                3.0
Video_Title    Vídeo AAA
Views             1019.0
Impressions        758.0
Name: 14, dtype: object
15
index                 32
Year              2020.0
Month                4.0
Video_Title    Vídeo AAA
Views             1265.0
Impressions        860.0
Name: 15, dtype: object
16
index                 33
Year              2020.0
Month                5.0
Video_Title    Vídeo AAA
Views             1300.0
Impressions        821.0
Name: 16, dtype: object
17
index                 34
Year              2020.0
Month                6.0
Video_Title    Vídeo AAA
Views             1292.0
Impressions       1021.0
Name: 17, dtype: object
18
index                 35
Year              2020.0
Month                7.0
Video_Title    Vídeo AAA
Views             1195.0
Impressions        991.0
Name: 18, dtype: object
19
index                 36
Year              2020.0
Month                8.0
Video_Title    Vídeo AAA
Views             1129.0
Impressions        817.0
Name: 19, dtype: object
20
index                 37
Year              2020.0
Month                9.0
Video_Title    Vídeo AAA
Views             1099.0
Impressions        760.0
Name: 20, dtype: object
21
index          Vídeo AAA 2020 Subtotal
Year
Month
Video_Title
Views                          10009.0
Impressions                     7455.0
Name: 21, dtype: object
22
index                 15
Year              2020.0
Month                7.0
Video_Title    Vídeo ABC
Views              247.0
Impressions        119.0
Name: 22, dtype: object
23
index                 16
Year              2020.0
Month                8.0
Video_Title    Vídeo ABC
Views              188.0
Impressions         77.0
Name: 23, dtype: object
24
index                 17
Year              2020.0
Month                9.0
Video_Title    Vídeo ABC
Views              344.0
Impressions        126.0
Name: 24, dtype: object
25
index          Vídeo ABC 2020 Subtotal
Year
Month
Video_Title
Views                            779.0
Impressions                      322.0
Name: 25, dtype: object
26
index                  0
Year              2019.0
Month                7.0
Video_Title    Vídeo XYZ
Views               23.0
Impressions         16.0
Name: 26, dtype: object
27
index                  1
Year              2019.0
Month                8.0
Video_Title    Vídeo XYZ
Views               51.0
Impressions         43.0
Name: 27, dtype: object
28
index                  2
Year              2019.0
Month                9.0
Video_Title    Vídeo XYZ
Views               64.0
Impressions         40.0
Name: 28, dtype: object
29
index                  3
Year              2019.0
Month               10.0
Video_Title    Vídeo XYZ
Views              110.0
Impressions         48.0
Name: 29, dtype: object
30
index                  4
Year              2019.0
Month              122.0
Video_Title    Vídeo XYZ
Views              156.0
Impressions        101.0
Name: 30, dtype: object
31
index                  5
Year              2019.0
Month               12.0
Video_Title    Vídeo XYZ
Views              142.0
Impressions         95.0
Name: 31, dtype: object
32
index          Vídeo XYZ 2019 Subtotal
Year
Month
Video_Title
Views                            546.0
Impressions                      343.0
Name: 32, dtype: object
33
index                  6
Year              2020.0
Month                1.0
Video_Title    Vídeo XYZ
Views              214.0
Impressions        143.0
Name: 33, dtype: object
34
index                  7
Year              2020.0
Month                2.0
Video_Title    Vídeo XYZ
Views              301.0
Impressions        148.0
Name: 34, dtype: object
35
index                  8
Year              2020.0
Month                3.0
Video_Title    Vídeo XYZ
Views              354.0
Impressions        215.0
Name: 35, dtype: object
36
index                  9
Year              2020.0
Month                4.0
Video_Title    Vídeo XYZ
Views              493.0
Impressions        221.0
Name: 36, dtype: object
37
index                 10
Year              2020.0
Month                5.0
Video_Title    Vídeo XYZ
Views              393.0
Impressions        176.0
Name: 37, dtype: object
38
index                 11
Year              2020.0
Month                6.0
Video_Title    Vídeo XYZ
Views              365.0
Impressions        192.0
Name: 38, dtype: object
39
index                 12
Year              2020.0
Month                7.0
Video_Title    Vídeo XYZ
Views              339.0
Impressions        243.0
Name: 39, dtype: object
40
index                 13
Year              2020.0
Month                8.0
Video_Title    Vídeo XYZ
Views              287.0
Impressions        183.0
Name: 40, dtype: object
41
index                 14
Year              2020.0
Month                9.0
Video_Title    Vídeo XYZ
Views              400.0
Impressions        250.0
Name: 41, dtype: object
42
index          Vídeo XYZ 2020 Subtotal
Year
Month
Video_Title
Views                           3146.0
Impressions                     1771.0
Name: 42, dtype: object
43
index            Total
Year               NaN
Month              NaN
Video_Title        NaN
Views          18913.0
Impressions    13432.0
Name: 43, dtype: object

In [113]:
_df_summary.drop(columns='index')

                       Year  Month Video_Title    Views  Impressions
0                    2019.0    2.0   Vídeo AAA     58.0         10.0
1                    2019.0    3.0   Vídeo AAA    107.0         34.0
2                    2019.0    4.0   Vídeo AAA    202.0         71.0
3                    2019.0    5.0   Vídeo AAA    301.0        125.0
4                    2019.0    6.0   Vídeo AAA    377.0        190.0
5                    2019.0    7.0   Vídeo AAA    486.0        216.0
6                    2019.0    8.0   Vídeo AAA    456.0        247.0
7                    2019.0    9.0   Vídeo AAA    527.0        528.0
8                    2019.0   10.0   Vídeo AAA    582.0        666.0
9                    2019.0   11.0   Vídeo AAA    697.0        781.0
10                   2019.0   12.0   Vídeo AAA    640.0        673.0
11  Vídeo AAA 2019 Subtotal                      4433.0       3541.0
12                   2020.0    1.0   Vídeo AAA    818.0        691.0
13                   2020.0    2.0   Vídeo AAA    892.0        736.0
14                   2020.0    3.0   Vídeo AAA   1019.0        758.0
15                   2020.0    4.0   Vídeo AAA   1265.0        860.0
16                   2020.0    5.0   Vídeo AAA   1300.0        821.0
17                   2020.0    6.0   Vídeo AAA   1292.0       1021.0
18                   2020.0    7.0   Vídeo AAA   1195.0        991.0
19                   2020.0    8.0   Vídeo AAA   1129.0        817.0
20                   2020.0    9.0   Vídeo AAA   1099.0        760.0
21  Vídeo AAA 2020 Subtotal                     10009.0       7455.0
22                   2020.0    7.0   Vídeo ABC    247.0        119.0
23                   2020.0    8.0   Vídeo ABC    188.0         77.0
24                   2020.0    9.0   Vídeo ABC    344.0        126.0
25  Vídeo ABC 2020 Subtotal                       779.0        322.0
26                   2019.0    7.0   Vídeo XYZ     23.0         16.0
27                   2019.0    8.0   Vídeo XYZ     51.0         43.0
28                   2019.0    9.0   Vídeo XYZ     64.0         40.0
29                   2019.0   10.0   Vídeo XYZ    110.0         48.0
30                   2019.0  122.0   Vídeo XYZ    156.0        101.0
31                   2019.0   12.0   Vídeo XYZ    142.0         95.0
32  Vídeo XYZ 2019 Subtotal                       546.0        343.0
33                   2020.0    1.0   Vídeo XYZ    214.0        143.0
34                   2020.0    2.0   Vídeo XYZ    301.0        148.0
35                   2020.0    3.0   Vídeo XYZ    354.0        215.0
36                   2020.0    4.0   Vídeo XYZ    493.0        221.0
37                   2020.0    5.0   Vídeo XYZ    393.0        176.0
38                   2020.0    6.0   Vídeo XYZ    365.0        192.0
39                   2020.0    7.0   Vídeo XYZ    339.0        243.0
40                   2020.0    8.0   Vídeo XYZ    287.0        183.0
41                   2020.0    9.0   Vídeo XYZ    400.0        250.0
42  Vídeo XYZ 2020 Subtotal                      3146.0       1771.0
43                    Total    NaN         NaN  18913.0      13432.0

In [114]:
# All of the basic conversion functions will map as equal to the type function.

type(9) is int
type(2.5) is float
type('x') is str
# type(u'x') is unicode
type(2+3j) is complex

# There are a few other cases.

# isinstance( 'x', basestring )
# isinstance( u'u', basestring )
isinstance( 9, int )
isinstance( 2.5, float )
isinstance( (2+3j), complex )

True

In [115]:
df = pd.DataFrame({'id_emp': [1,2,3,4,1], 
               'name_emp': ['x','y','z','w','x'], 
               'donnated_value':[1100,11000,500,300,1000],
               'refound_value':[22000,22000,50000,450,90]
            })
df['return_percentagem'] = 100 * df['refound_value']/df['donnated_value']
df['classification_roi'] = ''
df

,id_emp,name_emp,donnated_value,refound_value,return_percentagem,classification_roi
0,1,x,1100,22000,2000.0,
1,2,y,11000,22000,200.0,
2,3,z,500,50000,10000.0,
3,4,w,300,450,150.0,
4,1,x,1000,90,9.0,

In [116]:
for index, row in df.iterrows():
    if row['return_percentagem'] < 50:
        df.loc[index,'classification_roi'] = 'Bad Investment'
    elif row['return_percentagem'] < 100:
        df.loc[index,'classification_roi'] = 'Median Investment'
    elif row['return_percentagem'] >= 100:
        df.loc[index,'classification_roi'] = 'Good Investment'

In [117]:
df

,id_emp,name_emp,donnated_value,refound_value,return_percentagem,classification_roi
0,1,x,1100,22000,2000.0,Good Investment
1,2,y,11000,22000,200.0,Good Investment
2,3,z,500,50000,10000.0,Good Investment
3,4,w,300,450,150.0,Good Investment
4,1,x,1000,90,9.0,Bad Investment

In [118]:
def comunidade(num):
    if num < 50:        
        return 'Bad Investment'
    elif num < 100:
        return 'Median Investment'
    elif num >= 100:
        return 'Good Investment'

df['classification_roi'] = df['return_percentagem'].map(comunidade)
df

,id_emp,name_emp,donnated_value,refound_value,return_percentagem,classification_roi
0,1,x,1100,22000,2000.0,Good Investment
1,2,y,11000,22000,200.0,Good Investment
2,3,z,500,50000,10000.0,Good Investment
3,4,w,300,450,150.0,Good Investment
4,1,x,1000,90,9.0,Bad Investment

In [119]:
indice_troca_de_datas_dias_calendario = [
'2022-03 S1',
'2022-03 S2',
'2022-03 S3',
'2022-03 S4',
'2022-03 S5',
'2022-03 S6',
'2022-04 S1',
'2022-04 S2',
'2022-04 S3',
'2022-04 S4',
'2022-04 S5',
'2022-04 S6',
'2022-05 S1',
'2022-05 S2',
'2022-05 S3',
'2022-05 S4',
'2022-05 S5',
'2022-05 S6',
'2022-06 S1',
'2022-06 S2',
'2022-06 S3',
'2022-06 S4',
'2022-06 S5',
'2022-06 S6',
'2022-07 S1',
'2022-07 S2',
'2022-07 S3',
'2022-07 S4',
'2022-07 S5',
'2022-07 S6',
'2022-08 S1',
'2022-08 S2',
'2022-08 S3',
'2022-08 S4',
'2022-08 S5',
'2022-08 S6',
'2022-09 S1',
'2022-09 S2',
'2022-09 S3',
'2022-09 S4',
'2022-09 S5',
'2022-09 S6',
'2022-10 S1',
'2022-10 S2',
'2022-10 S3',
'2022-10 S4',
'2022-10 S5',
'2022-10 S6',
'2022-11 S1',
'2022-11 S2',
'2022-11 S3',
'2022-11 S4',
'2022-11 S5',
'2022-11 S6',
'2022-12 S1',
'2022-12 S2',
'2022-12 S3',
'2022-12 S4',
'2022-12 S5',
'2022-12 S6',
'2023-01 S1',
'2023-01 S2',
'2023-01 S3',
'2023-01 S4',
'2023-01 S5',
'2023-01 S6',
'2023-02 S1',
'2023-02 S2',
'2023-02 S3',
'2023-02 S4',
'2023-02 S5',
'2023-02 S6',
'2023-03 S1',
'2023-03 S2',
'2023-03 S3',
'2023-03 S4',
'2023-03 S5',
'2023-03 S6',
'2023-04 S1',
'2023-04 S2',
'2023-04 S3',
'2023-04 S4',
'2023-04 S5',
'2023-04 S6',
'2023-05 S1',
'2023-05 S2',
'2023-05 S3',
'2023-05 S4',
'2023-05 S5',
'2023-05 S6',
'2023-06 S1',
'2023-06 S2',
'2023-06 S3',
'2023-06 S4',
'2023-06 S5',
'2023-06 S6',
'2023-07 S1',
'2023-07 S2',
'2023-07 S3',
'2023-07 S4',
'2023-07 S5',
'2023-07 S6',
'2023-08 S1',
'2023-08 S2',
'2023-08 S3',
'2023-08 S4',
'2023-08 S5',
'2023-08 S6',
'2023-09 S1',
'2023-09 S2',
'2023-09 S3',
'2023-09 S4',
'2023-09 S5',
'2023-09 S6',
'2023-10 S1',
'2023-10 S2',
'2023-10 S3',
'2023-10 S4',
'2023-10 S5',
'2023-10 S6',
'2023-11 S1',
'2023-11 S2',
'2023-11 S3',
'2023-11 S4',
'2023-11 S5',
'2023-11 S6',
'2023-12 S1',
'2023-12 S2',
'2023-12 S3',
'2023-12 S4',
'2023-12 S5',
'2023-12 S6',
'2024-01 S1',
'2024-01 S2',
'2024-01 S3',
'2024-01 S4',
'2024-01 S5',
'2024-01 S6',
'2024-02 S1',
'2024-02 S2',
'2024-02 S3',
'2024-02 S4',
'2024-02 S5',
'2024-02 S6'
]
periodo_form_semanas_marchas = [
    'Period_001',
'Period_002',
'Period_003',
'Period_004',
'Period_005',
'Period_006',
'Period_007',
'Period_008',
'Period_009',
'Period_010',
'Period_011',
'Period_012',
'Period_013',
'Period_014',
'Period_015',
'Period_016',
'Period_017',
'Period_018',
'Period_019',
'Period_020',
'Period_021',
'Period_022',
'Period_023',
'Period_024',
'Period_025',
'Period_026',
'Period_027',
'Period_028',
'Period_029',
'Period_030',
'Period_031',
'Period_032',
'Period_033',
'Period_034',
'Period_035',
'Period_036',
'Period_037',
'Period_038',
'Period_039',
'Period_040',
'Period_041',
'Period_042',
'Period_043',
'Period_044',
'Period_045',
'Period_046',
'Period_047',
'Period_048',
'Period_049',
'Period_050',
'Period_051',
'Period_052',
'Period_053',
'Period_054',
'Period_055',
'Period_056',
'Period_057',
'Period_058',
'Period_059',
'Period_060',
'Period_061',
'Period_062',
'Period_063',
'Period_064',
'Period_065',
'Period_066',
'Period_067',
'Period_068',
'Period_069',
'Period_070',
'Period_071',
'Period_072',
'Period_073',
'Period_074',
'Period_075',
'Period_076',
'Period_077',
'Period_078',
'Period_079',
'Period_080',
'Period_081',
'Period_082',
'Period_083',
'Period_084',
'Period_085',
'Period_086',
'Period_087',
'Period_088',
'Period_089',
'Period_090',
'Period_091',
'Period_092',
'Period_093',
'Period_094',
'Period_095',
'Period_096',
'Period_097',
'Period_098',
'Period_099',
'Period_100',
'Period_101',
'Period_102',
'Period_103',
'Period_104',
'Period_105',
'Period_106',
'Period_107',
'Period_108',
'Period_109',
'Period_110',
'Period_111',
'Period_112',
'Period_113',
'Period_114',
'Period_115',
'Period_116',
'Period_117',
'Period_118',
'Period_119',
'Period_120',
'Period_121',
'Period_122',
'Period_123',
'Period_124',
'Period_125',
'Period_126',
'Period_127',
'Period_128',
'Period_129',
'Period_130',
'Period_131',
'Period_132',
'Period_133',
'Period_134',
'Period_135',
'Period_136',
'Period_137',
'Period_138',
'Period_139',
'Period_140',
'Period_141',
'Period_142',
'Period_143',
'Period_144'
]

In [120]:
_df = pd.DataFrame({'nome_periods':indice_troca_de_datas_dias_calendario, 'periods':periodo_form_semanas_marchas})

_df['order'] = 1
_df['order'] = _df['order'].cumsum()

_df = _df[~_df['nome_periods'].isin(['2023-11 S1',
'2023-11 S2',
'2023-11 S3',
'2023-11 S4',
'2023-11 S5',
'2023-11 S6'])]

_cols_to_hide = _df['order'].tolist()

_cols_to_hide

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144]

#### Dividindo valores das linha de uma coluna por um total da mesma coluna.
* Participação = valor da coluna / soma da coluna

In [121]:
data = {'A':[1,2,3], 'B':[1,2,3]}
_df = pd.DataFrame(data)
_df

   A  B
0  1  1
1  2  2
2  3  3

In [122]:
_df['sum_B'] = _df['B'].sum()
_df

   A  B  sum_B
0  1  1      6
1  2  2      6
2  3  3      6

In [123]:
_df['perct_B'] = _df['B']/_df['sum_B']
_df

   A  B  sum_B   perct_B
0  1  1      6  0.166667
1  2  2      6  0.333333
2  3  3      6  0.500000

In [124]:
_df['perct_B'].sum() * 100

100.0

In [125]:
data = {'A':[1,2,3], 'B':[1,2,3]}
_df = pd.DataFrame(data)
_df

   A  B
0  1  1
1  2  2
2  3  3

In [126]:
_df['sum_B'] = _df['B'].sum(axis=0)
_df

   A  B  sum_B
0  1  1      6
1  2  2      6
2  3  3      6

In [127]:
_df['perct_B'] = _df.loc[:,"B":"B"].div(_df["sum_B"], axis=0)
_df

   A  B  sum_B   perct_B
0  1  1      6  0.166667
1  2  2      6  0.333333
2  3  3      6  0.500000

In [128]:
data = {'A':[1,2,3], 'B':[1,2,3]}
_df = pd.DataFrame(data)
_df

   A  B
0  1  1
1  2  2
2  3  3

In [129]:
_sum_b = _df['B'].sum(axis=0)
_sum_b

6

In [130]:
_df['sum_B'] = _df['B'] / _sum_b
_df

   A  B     sum_B
0  1  1  0.166667
1  2  2  0.333333
2  3  3  0.500000

* Somando colunas e transpondo  a Serie para um dataframe

In [131]:
data = {'A':[1,2,3], 'B':[1,2,3]}
_df = pd.DataFrame(data)
_df

   A  B
0  1  1
1  2  2
2  3  3

In [132]:
_df = _df.sum(axis=0).to_frame().T
_df

   A  B
0  6  6

* Aplicando valores de acordo com a condição

In [133]:
# 1 - IF condition – Set of numbers

numbers = {'set_of_numbers': [1,2,3,4,5,6,7,8,9,10]}
df = pd.DataFrame(numbers,columns=['set_of_numbers'])

df.loc[df['set_of_numbers'] <= 4, 'equal_or_lower_than_4?'] = 'True' 
df.loc[df['set_of_numbers'] > 4, 'equal_or_lower_than_4?'] = 'False' 

print (df)

   set_of_numbers equal_or_lower_than_4?
0               1                   True
1               2                   True
2               3                   True
3               4                   True
4               5                  False
5               6                  False
6               7                  False
7               8                  False
8               9                  False
9              10                  False

In [134]:
numbers = {'set_of_numbers': [1,2,3,4,5,6,7,8,9,10]}
df = pd.DataFrame(numbers,columns=['set_of_numbers'])

In [135]:
# 2 - IF condition – set of numbers and lambda
#df['new column name'] = df['column name'].apply(lambda x: 'value if condition is met' if x condition else 'value if condition is not met')

df['equal_or_lower_than_4?'] = df['set_of_numbers'].apply(lambda x: True if x <= 4  else False)
df

   set_of_numbers  equal_or_lower_than_4?
0               1                    True
1               2                    True
2               3                    True
3               4                    True
4               5                   False
5               6                   False
6               7                   False
7               8                   False
8               9                   False
9              10                   False

In [136]:
df['equal_or_lower_than_4?'].loc[0] = False
df

C:\Users\alexsandro.ignacio\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

   set_of_numbers  equal_or_lower_than_4?
0               1                   False
1               2                    True
2               3                    True
3               4                    True
4               5                   False
5               6                   False
6               7                   False
7               8                   False
8               9                   False
9              10                   False

* Somando linhas

In [137]:
data = {'A':[1,2,3], 'B':[1,2,3]}
_df = pd.DataFrame(data)
_df

   A  B
0  1  1
1  2  2
2  3  3

In [138]:
_df.loc['Total Linha 1'] = [_df['A'].loc[0] / _df['B'].loc[0], _df['B'].loc[0] / _df['A'].loc[0] ]
_df

                 A    B
0              1.0  1.0
1              2.0  2.0
2              3.0  3.0
Total Linha 1  1.0  1.0

* Comaprando valores entre colunas

In [139]:
# data's stored in dictionary
details = {
    'Column1': [1, 2, 30, 4],
    'Column2': [7, 4, 25, 9],
    'Column3': [3, 8, 10, 30]
}
 
# creating a Dataframe object
df = pd.DataFrame(details)
 
# Where method to compare the values
# The values were stored in the new column
df['new'] = np.where((df['Column1'] <= df['Column2']) & (
    df['Column1'] <= df['Column3']), df['Column1'], np.nan)
df

   Column1  Column2  Column3  new
0        1        7        3  1.0
1        2        4        8  2.0
2       30       25       10  NaN
3        4        9       30  4.0

In [140]:
# Storing data in dictionary
details = {
    'Column1': [1, 2, 3, 4],
    'Column2': [7, 4, 25, 9],
    'Column3': [3, 8, 10, 30],
    'Column4': [7, 4, 25, 9],
}
 
# creating a Dataframe object
df = pd.DataFrame(details)
 
df['Column4'].equals(df['Column2'])  # Returns True
 
# df['Column1'].equals(df['Column2']) Returns False
df

   Column1  Column2  Column3  Column4
0        1        7        3        7
1        2        4        8        4
2        3       25       10       25
3        4        9       30        9

In [141]:
details = {
    'Column1': [1, 2, 3, 4],
    'Column2': [7, 4, 2, 9],
    'Column3': [3, 8, 10, 30],
}
 
# creating a Dataframe object
df = pd.DataFrame(details)
 
# apply function
df['New'] = df.apply(lambda x: x['Column1'] if x['Column1'] <=
                     x['Column2'] and x['Column1']
                     <= x['Column3'] else np.nan, axis=1)
 
# printing the dataframe
df

   Column1  Column2  Column3  New
0        1        7        3  1.0
1        2        4        8  2.0
2        3        2       10  NaN
3        4        9       30  4.0

* NaN e NULL Values Selecting

In [142]:
df[df.isna().any(axis=1)]

   Column1  Column2  Column3  New
2        3        2       10  NaN

In [143]:
df[df['New'].isnull()]

   Column1  Column2  Column3  New
2        3        2       10  NaN

In [144]:
df[df['New'].isna()]

   Column1  Column2  Column3  New
2        3        2       10  NaN

In [145]:
df['Newnan1'] = df.apply(lambda x: x['Column3'] if pd.isnull(x['New'])  else x['New'], axis=1)

In [146]:
df['Newnan2'] = df.apply(lambda x: x['Column3'] if pd.isna(x['New'])  else x['New'], axis=1)

In [147]:
df['Newnan3'] = df.apply(lambda x: x['Column3'] if x['New'] is np.nan   else x['New'], axis=1)

In [148]:
df

   Column1  Column2  Column3  New  Newnan1  Newnan2  Newnan3
0        1        7        3  1.0      1.0      1.0      1.0
1        2        4        8  2.0      2.0      2.0      2.0
2        3        2       10  NaN     10.0     10.0      NaN
3        4        9       30  4.0      4.0      4.0      4.0

In [149]:
df['Column2'].loc[0] = 0
df['Column2'].loc[1] = None
df['Column2'].loc[2] = np.nan
df['Column2'].loc[3] = np.inf

df['comparacao'] = np.where(df['Column2'].isnull(), df['Column1'], df['Column2'])

C:\Users\alexsandro.ignacio\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [150]:
df

   Column1  Column2  Column3  New  Newnan1  Newnan2  Newnan3  comparacao
0        1      0.0        3  1.0      1.0      1.0      1.0         0.0
1        2      NaN        8  2.0      2.0      2.0      2.0         2.0
2        3      NaN       10  NaN     10.0     10.0      NaN         3.0
3        4      inf       30  4.0      4.0      4.0      4.0         inf

In [151]:
df['comparacao2'] = df.apply(lambda x: x['Column3'] if x['New'] is np.inf   else x['New'], axis=1)
df

,Column1,Column2,Column3,New,Newnan1,Newnan2,Newnan3,comparacao,comparacao2
0,1,0.0,3,1.0,1.0,1.0,1.0,0.0,1.0
1,2,NaN,8,2.0,2.0,2.0,2.0,2.0,2.0
2,3,NaN,10,NaN,10.0,10.0,NaN,3.0,NaN
3,4,inf,30,4.0,4.0,4.0,4.0,inf,4.0

In [152]:
a, b = np.nan, np.nan
a, b

(nan, nan)

In [153]:
print(f'id A {id(a)} id B {id(b)} ')

id A 2376319742832 id B 2376319742832

In [154]:
a == b

False

In [155]:
type(a) == type(a)

True

In [156]:
c = 0.5

In [157]:
type(a) == type(c)

True

In [158]:
type(a)

float

In [159]:
df['comparacao3'] = df.apply(lambda x: x['Column3'] if x['New'] == type(np.nan)   else x['New'], axis=1)

In [160]:
df

,Column1,Column2,Column3,New,Newnan1,Newnan2,Newnan3,comparacao,comparacao2,comparacao3
0,1,0.0,3,1.0,1.0,1.0,1.0,0.0,1.0,1.0
1,2,NaN,8,2.0,2.0,2.0,2.0,2.0,2.0,2.0
2,3,NaN,10,NaN,10.0,10.0,NaN,3.0,NaN,NaN
3,4,inf,30,4.0,4.0,4.0,4.0,inf,4.0,4.0

In [161]:


_date = ['2022-04', '2022-05', '2022-06', '2022-07', '2022-08', '2022-09', '2022-10', '2022-11', '2022-12', '2023-01', '2023-02', '2023-03', '2023-04', '2023-05', '2023-06', '2023-07', '2023-08', '2023-09', '2023-10', '2023-11', '2023-12', '2024-01', '2024-02', '2024-03']
_values = ['-' for i in range(len(_date))]

_data = {_date[i]:list(_values[i]) for i in range(len(_date))}

_df = pd.DataFrame(data =_data, index=['bloco 1'])

# _da = pp.dataarray_from_pandas( _df,{ index_codigo_unidade.name:index_codigo_unidade, index_datas.name:index_datas},'value', defaultValue=None, valueColumnsAsDim=True, sumDuplicateRecords=True )


_df

,2022-04,2022-05,2022-06,2022-07,2022-08,...,2023-11,2023-12,2024-01,2024-02,2024-03
bloco 1,-,-,-,-,-,...,-,-,-,-,-

### Functions

In [166]:
def _fn(number_month = None ,month_number = None):
    """Creating a dict month to number and number to month"""
    if (number_month == True and month_number == False):
        _list_month = ['Janeiro',
                    'Fevereiro',
                    'Março',
                    'Abril',
                    'Maio',
                    'Junho',
                    'Julho',
                    'Agosto',
                    'Setembro',
                    'Outubro',
                    'Novembro',
                    'Dezembro']
                
        result = {index : month  for index, month in enumerate(_list_month, start=1)}
    else: result = "not implemented"
    return result

result = _fn

In [167]:
_fn(True,False)

{1: 'Janeiro',
 2: 'Fevereiro',
 3: 'Março',
 4: 'Abril',
 5: 'Maio',
 6: 'Junho',
 7: 'Julho',
 8: 'Agosto',
 9: 'Setembro',
 10: 'Outubro',
 11: 'Novembro',
 12: 'Dezembro'}

In [168]:
_fn(False,False)

'not implemented'

In [169]:
_fn(False,True)

'not implemented'