## Python para Data Science

In [32]:
import pandas as pd

#### Variáveis

In [2]:
1+1

2

In [3]:
"Alex"

'Alex'

In [4]:
nome = "Alex"
nome

'Alex'

In [5]:
idade = 33
idade

33

In [6]:
print(idade)

33

In [7]:
print(f'O nome é {nome} e sua idade é {idade} ')

O nome é Alex e sua idade é 33

In [8]:
idade = 29

In [9]:
print(f'O nome é {nome} e sua idade é {idade} ')

O nome é Alex e sua idade é 29

#### Criando Função

In [20]:
def saudacao():
    nome = input('Qual o seu nome?')
    print(f'Olá {nome} ')

In [21]:
saudacao()

Olá Alex

In [22]:
def nome_completo():
 primeiro_nome = input('Qual seu primeiro nome? ')
 sobrenome = input('Qual seu sobrenome? ')
 nome_inteiro = primeiro_nome + ' ' + sobrenome
 print(nome_inteiro)

nome_completo()

Alex Aufus

In [23]:
nome = 'Luiza'

In [25]:
def saudacao_com_parametro(nome_da_pessoa):
 print(f"Olá {nome_da_pessoa}")

saudacao_com_parametro(nome)

Olá Luiza

#### Condicional

In [26]:
idade = 20

In [27]:
def verifica_se_pode_dirigir(idade):
    if idade >= 18:
        print(f"Tem permissão para dirigir")
    else: print(f"Não tem permissão para dirigir")

In [28]:
verifica_se_pode_dirigir(idade)

Tem permissão para dirigir

#### Convertendo tipos

In [29]:
def verifica_se_pode_dirigir_sem_parametro():
    idade = int(input('Qual a sua idade'))
    if idade >= 18:
        print(f"Tem permissão para dirigir")
    else: print(f"Não tem permissão para dirigir")

verifica_se_pode_dirigir_sem_parametro()

Tem permissão para dirigir

In [31]:
def velocidade(espaco, tempo):
 v = float(espaco) / float(tempo)
 print(f'Velocidade: {int(v)} m/s')

velocidade(100, 20)

Velocidade: 5 m/s

In [33]:
_data = {'Operador':['a == b', 'a != b', 'a < b', 'a > b', 'a <= b', 'a >= b'],	
        'Descrição':['a igual a b', 'a diferente de b' , 'a menor do que b' , 'a maior do que b' , 'a menor ou igual a b' , 'a maior ou igual a b' ]}
	
_df = pd.DataFrame(_data)	
_df

  Operador             Descrição
0   a == b           a igual a b
1   a != b      a diferente de b
2    a < b      a menor do que b
3    a > b      a maior do que b
4   a <= b  a menor ou igual a b
5   a >= b  a maior ou igual a b