# Como renomear colunas do pandas Dataframe.

## Importando Pacotes

In [1]:
import pandas as pd

## Leitura

In [5]:
ufo = pd.read_csv('http://bit.ly/uforeports')
ufo.head(2)

          City Colors Reported Shape Reported State             Time
0       Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro             NaN          OTHER    NJ  6/30/1930 20:00

In [6]:
# Lista das colunas
ufo.columns

Index(['City', 'Colors Reported', 'Shape Reported', 'State', 'Time'], dtype='object')

In [9]:
# Renomeando
ufo.rename(columns={'Colors Reported': 'Colors_Reported', 'Shape Reported':'Shape_Reported'}).head(2)

          City Colors_Reported Shape_Reported State             Time
0       Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro             NaN          OTHER    NJ  6/30/1930 20:00

In [11]:
# Renomeando e aplicando mudan√ßas no local com inplace.
ufo.rename(columns={'Colors Reported': 'Colors_Reported', 'Shape Reported':'Shape_Reported'}, inplace=True)

In [12]:
ufo.head(2)

          City Colors_Reported Shape_Reported State             Time
0       Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro             NaN          OTHER    NJ  6/30/1930 20:00

In [13]:
# Lista das colunas
ufo_cols = ['City', 'Colors Reported', 'Shape Reported', 'State', 'Time']

In [15]:
# Usando uma lista para alterar todos os nomes da colunas.
ufo.columns = ufo_cols
ufo.head(2)

          City Colors Reported Shape Reported State             Time
0       Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro             NaN          OTHER    NJ  6/30/1930 20:00

In [18]:
# Lista das colunas
ufo_cols = ['_City', 'Colors_Reported', 'Shape_Reported', 'State', 'Time']
ufo = pd.read_csv('http://bit.ly/uforeports', names=ufo_cols, header=0)
ufo.head(2)

         _City Colors_Reported Shape_Reported State             Time
0       Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro             NaN          OTHER    NJ  6/30/1930 20:00

In [19]:
# Lista das colunas
ufo_cols = ['City', 'Colors Reported', 'Shape Reported', 'State', 'Time']
ufo = pd.read_csv('http://bit.ly/uforeports', names=ufo_cols, header=0)
ufo.head(2)

          City Colors Reported Shape Reported State             Time
0       Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro             NaN          OTHER    NJ  6/30/1930 20:00

In [20]:
ufo.columns

Index(['City', 'Colors Reported', 'Shape Reported', 'State', 'Time'], dtype='object')

In [22]:
# Usando srte replace para renomear.
ufo.columns.str.replace(' ', '_')

Index(['City', 'Colors_Reported', 'Shape_Reported', 'State', 'Time'], dtype='object')