# Porque alguns comandos pandas terminam com parentesis e outros não?

# Importanto Pacotes

In [3]:
import pandas as pd

# Lendo arquivos

In [5]:
movies = pd.read_csv('http://bit.ly/imdbratings')
movies.head(2)

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"

In [6]:
movies.describe()

       star_rating    duration
count   979.000000  979.000000
mean      7.889785  120.979571
std       0.336069   26.218010
min       7.400000   64.000000
25%       7.600000  102.000000
50%       7.800000  117.000000
75%       8.100000  134.000000
max       9.300000  242.000000

In [7]:
movies.shape

(979, 6)

In [8]:
movies.dtypes

star_rating       float64
title              object
content_rating     object
genre              object
duration            int64
actors_list        object
dtype: object

In [9]:
type(movies)

pandas.core.frame.DataFrame

## Ações
##### - movies.describe()
##### - kevin.talk()
##### - kevin.eat()


## Atributos
##### - movies.shape
##### - kevin.heigth

In [14]:
movies.describe(include=['object'])

,title,content_rating,genre,actors_list
count,979,976,979,979
unique,975,12,16,969
top,Dracula,R,Drama,"[u'Daniel Radcliffe', u'Emma Watson', u'Rupert..."
freq,2,460,278,6

In [15]:
movies.describe(include=['int'])

         duration
count  979.000000
mean   120.979571
std     26.218010
min     64.000000
25%    102.000000
50%    117.000000
75%    134.000000
max    242.000000

In [16]:
movies.describe(include=['float'])

       star_rating
count   979.000000
mean      7.889785
std       0.336069
min       7.400000
25%       7.600000
50%       7.800000
75%       8.100000
max       9.300000