In [21]:
import pandas as pd

In [23]:
dados = pd.DataFrame({'Profissão': [1, 2, 3, 1, 2, 2, 2, 3, 3, 2, 1, 3]})

In [25]:
dados

    Profissão
0           1
1           2
2           3
3           1
4           2
5           2
6           2
7           3
8           3
9           2
10          1
11          3

In [27]:
frequencia = dados['Profissão'].value_counts()

In [29]:
frequencia

2    5
3    4
1    3
Name: Profissão, dtype: int64

In [31]:
percentual = dados['Profissão'].value_counts(normalize=True) * 100

In [33]:
percentual

2    41.666667
3    33.333333
1    25.000000
Name: Profissão, dtype: float64

In [35]:
dist_freq_qualitativas = pd.DataFrame({'Frequência': frequencia,' Porcentagem (%)': percentual})

In [36]:
dist_freq_qualitativas.rename(index={1:'Estatístico', 2:'Cientista de Dados', 3:'Programador Python'} ,inplace=True)
dist_freq_qualitativas.rename_axis('Profissão', axis='columns', inplace=True)

In [37]:
dist_freq_qualitativas

Profissão           Frequência   Porcentagem (%)
Cientista de Dados           5         41.666667
Programador Python           4         33.333333
Estatístico                  3         25.000000

### Exercicio 02

In [38]:
dados = pd.read_csv('dados/dados.csv',sep=',')
dados.head(5)

   UF  Sexo  Idade  Cor  Anos de Estudo  Renda    Altura
0  11     0     23    8              12    800  1.603808
1  11     1     23    2              12   1150  1.739790
2  11     1     35    8              15    880  1.760444
3  11     0     46    2               6   3500  1.783158
4  11     1     47    8               9    150  1.690631

In [39]:
classes = [dados.Altura.min().round(2), 1.65, 1.75, dados.Altura.max().round(2)]
print(classes)
labels = ['1 - Baixa', '2 - Média', '3 - Alta']

frequencia = pd.value_counts(
    pd.cut(
        x = dados.Altura,
        bins = classes,
        labels = labels,
        include_lowest = True
    )
)

percentual = pd.value_counts(
    pd.cut(
        x = dados.Altura,
        bins = classes,
        labels = labels,
        include_lowest = True
    ), normalize = True
) * 100

dist_freq_altura = pd.DataFrame(
    {'Frequência': frequencia, 'Porcentagem (%)': percentual}
)

dist_freq_altura.rename_axis('Estaturas', axis= 'columns', inplace = True)
dist_freq_altura.rename_axis('Faixas', axis= 'index', inplace = True)

dist_freq_altura.sort_index(ascending = True, inplace = True)

dist_freq_altura

[1.34, 1.65, 1.75, 2.03]

Estaturas  Frequência  Porcentagem (%)
Faixas
1 - Baixa       20528        26.715600
2 - Média       36162        47.062039
3 - Alta        20149        26.222361

In [40]:
dataset = pd.DataFrame({
    'Sexo': ['H', 'M', 'M', 'M', 'M', 'H', 'H', 'H', 'M', 'M'],
    'Idade': [53, 72, 54, 27, 30, 40, 58, 32, 44, 51]
})

In [41]:
dataset

  Sexo  Idade
0    H     53
1    M     72
2    M     54
3    M     27
4    M     30
5    H     40
6    H     58
7    H     32
8    M     44
9    M     51

In [42]:
dataset_frequencia = dataset['Sexo'].value_counts()
dataset_frequencia.sort_index(ascending= True)

H    4
M    6
Name: Sexo, dtype: int64

In [43]:
dataset_distribuicao = dataset['Sexo'].value_counts(normalize = True) * 100
dataset_distribuicao.sort_index(ascending= True)

H    40.0
M    60.0
Name: Sexo, dtype: float64

In [44]:
print(f'A distribuição do dataset é: {dataset_distribuicao.index[0]} {dataset_distribuicao[0]} % e {dataset_distribuicao.index[1]} {dataset_distribuicao[1]} %')

A distribuição do dataset é: M 60.0 % e H 40.0 %

In [45]:
media = dataset.mean()
print(f' Média total considerando as idades de homens e mulheres: {media[0]}')

 Média total considerando as idades de homens e mulheres: 46.1

In [46]:
media = pd.DataFrame(dataset).groupby('Sexo').mean()
media.index.name = None
media.rename_axis('Sexos', axis= 'columns', inplace = True)
media = media.round(2)
#print(media)
print(f' A Média das idades de homens é de: {media.values[0][0]}%, mulheres  é de: {media.values[1][0]}%')

 A Média das idades de homens é de: 45.75%, mulheres  é de: 46.33%

In [47]:
mediana = pd.DataFrame(dataset).groupby('Sexo').median()
mediana.index.name = None
mediana.rename_axis('Sexos', axis= 'columns', inplace = True)

In [48]:
mediana

Sexos  Idade
H       46.5
M       47.5

In [49]:
dataset.groupby('Sexo').mean().loc['H']

Idade    45.75
Name: H, dtype: float64

In [50]:
dataset = pd.DataFrame({
    'Sexo': ['H', 'M', 'M', 'M', 'M', 'H', 'H', 'H', 'M', 'M'],
    'Idade': [53, 72, 54, 27, 30, 40, 58, 32, 44, 51]
})

In [51]:
dataset

  Sexo  Idade
0    H     53
1    M     72
2    M     54
3    M     27
4    M     30
5    H     40
6    H     58
7    H     32
8    M     44
9    M     51

In [52]:
dataset['Idade'].std()

14.184890239656813

In [53]:
dataset.groupby('Sexo').std()

          Idade
Sexo
H     11.898879
M     16.645320

In [54]:
dataset.groupby(['Sexo']).std().loc['M']

Idade    16.64532
Name: M, dtype: float64