In [1]:
import pandas as pd

# Series

In [2]:
data = [1,2,3,4,5]

In [3]:
series = pd.Series(data)
series

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
index = ['Linha' + str(i) for i in range(5)]
index

['Linha0', 'Linha1', 'Linha2', 'Linha3', 'Linha4']

In [5]:
series = pd.Series(data = data, index = index )
series

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

## recriando Serie com Dicion√°rio

In [6]:
data = {"linha" + str(i): i + 1  for i in range(5)}
data

{'linha0': 1, 'linha1': 2, 'linha2': 3, 'linha3': 4, 'linha4': 5}

In [7]:
series = pd.Series(data)
series

linha0    1
linha1    2
linha2    3
linha3    4
linha4    5
dtype: int64

In [8]:
series_soma = series + 2
series_soma

linha0    3
linha1    4
linha2    5
linha3    6
linha4    7
dtype: int64

In [9]:
series_somandoSeries = series + series_soma
series_somandoSeries

linha0     4
linha1     6
linha2     8
linha3    10
linha4    12
dtype: int64

In [10]:
data = [[1,2,3,],
        [4,5,6],
        [7,8,9]]
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [11]:
df1 = pd.DataFrame(data)
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [12]:
index = ['Linha' + str(i) for i in range(3)]
index

['Linha0', 'Linha1', 'Linha2']

In [13]:
df1 = pd.DataFrame(data=data, index=index)
df1

        0  1  2
Linha0  1  2  3
Linha1  4  5  6
Linha2  7  8  9

In [14]:
columns = ['Coluna' + str(i) for i in range(3)]
columns

['Coluna0', 'Coluna1', 'Coluna2']

In [15]:
df1 = pd.DataFrame(data=data, index=index, columns=columns)
df1

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [16]:
data = {'Coluna0': {'Linha0': 1, 'Linha1': 4, 'Linha2': 7},                  'Coluna1': {'Linha0': 2, 'Linha1': 5, 'Linha2': 8}, 
        'Coluna2': {'Linha0': 3, 'Linha1': 6, 'Linha2': 9}}
data

{'Coluna0': {'Linha0': 1, 'Linha1': 4, 'Linha2': 7},
 'Coluna1': {'Linha0': 2, 'Linha1': 5, 'Linha2': 8},
 'Coluna2': {'Linha0': 3, 'Linha1': 6, 'Linha2': 9}}

In [17]:
df2 = pd.DataFrame(data)
df2

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [18]:
data = [(1,2,3,),
        (4,5,6),
        (7,8,9)]
data

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [19]:
df3 = pd.DataFrame(data=data, index=index, columns=columns)
df3

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [20]:
df1[df1 > 0] = 'A'
df1

       Coluna0 Coluna1 Coluna2
Linha0       A       A       A
Linha1       A       A       A
Linha2       A       A       A

In [21]:
df2[df2 > 0] = 'B'
df2

       Coluna0 Coluna1 Coluna2
Linha0       B       B       B
Linha1       B       B       B
Linha2       B       B       B

In [22]:
df3[df3 > 0] = 'C'
df3

       Coluna0 Coluna1 Coluna2
Linha0       C       C       C
Linha1       C       C       C
Linha2       C       C       C

In [23]:
df4 = pd.concat([df1, df2, df3])
df4

       Coluna0 Coluna1 Coluna2
Linha0       A       A       A
Linha1       A       A       A
Linha2       A       A       A
Linha0       B       B       B
Linha1       B       B       B
Linha2       B       B       B
Linha0       C       C       C
Linha1       C       C       C
Linha2       C       C       C

In [24]:
df4 = pd.concat([df1, df2, df3], axis = 1)
df4

       Coluna0 Coluna1 Coluna2 Coluna0 Coluna1 Coluna2 Coluna0 Coluna1 Coluna2
Linha0       A       A       A       B       B       B       C       C       C
Linha1       A       A       A       B       B       B       C       C       C
Linha2       A       A       A       B       B       B       C       C       C

In [25]:
numeros = [i for i in range(11)]
letras = [chr(i + 65) for i in range(11)]
nome_coluna = ['N']

df = pd.DataFrame(data = numeros, index = letras, columns = nome_coluna)

In [26]:
df

    N
A   0
B   1
C   2
D   3
E   4
F   5
G   6
H   7
I   8
J   9
K  10

In [27]:
selecao = df['N'].isin([i for i in range(11) if i % 2 == 0])
df = df[selecao]
df

    N
A   0
C   2
E   4
G   6
I   8
K  10