## Formas de seleção

In [1]:
import pandas as pd

In [2]:
'11 ,12, 13 ,14'.split()

['11', ',12,', '13', ',14']

In [3]:
data = [(1,2,3,4),
        (5,6,7,8),
        (9,10,11,12),
        (13,14,15,16)]
df = pd.DataFrame(data, 'I1 I2 I3 I4'.split(), 'c1 c2 c3 c4'.split())

In [4]:
df

    c1  c2  c3  c4
I1   1   2   3   4
I2   5   6   7   8
I3   9  10  11  12
I4  13  14  15  16

In [5]:
df['c1']

I1     1
I2     5
I3     9
I4    13
Name: c1, dtype: int64

In [6]:
df[['c3','c1']]

    c3  c1
I1   3   1
I2   7   5
I3  11   9
I4  15  13

In [7]:
type(df[['c3','c1']])

pandas.core.frame.DataFrame

In [8]:
df[:]

    c1  c2  c3  c4
I1   1   2   3   4
I2   5   6   7   8
I3   9  10  11  12
I4  13  14  15  16

In [9]:
df[1:]

    c1  c2  c3  c4
I2   5   6   7   8
I3   9  10  11  12
I4  13  14  15  16

In [10]:
df[1:3]

    c1  c2  c3  c4
I2   5   6   7   8
I3   9  10  11  12

In [11]:
df[1:][['c3','c1']]

    c3  c1
I2   7   5
I3  11   9
I4  15  13

In [12]:
df

    c1  c2  c3  c4
I1   1   2   3   4
I2   5   6   7   8
I3   9  10  11  12
I4  13  14  15  16

In [14]:
df.loc['I3']

c1     9
c2    10
c3    11
c4    12
Name: I3, dtype: int64

In [16]:
df.loc[['I3','I2']]

    c1  c2  c3  c4
I3   9  10  11  12
I2   5   6   7   8

In [17]:
df.iloc[0,1]

2

In [26]:
df.loc[['I3','I1'],['c4','c1']]

    c4  c1
I3  12   9
I1   4   1

In [24]:
df

    c1  c2  c3  c4
I1   1   2   3   4
I2   5   6   7   8
I3   9  10  11  12
I4  13  14  15  16

In [25]:
df.iloc[[2,0],[3,0]]

    c4  c1
I3  12   9
I1   4   1

In [ ]:
# Formas de seleção e frequências
# Seleção com a condição OR (|)
# Seleção com a condição AND (&)
# Como criar um Index com split()
# Seleção por linha e coluna em um dataframe:
# Utilizando os índices numéricos e os rótulos das linhas