# Relatório de Análise VIII

## Criando Faixas de Valor

In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv('dados/aluguel_residencial_filtro_apartamento.csv',sep=';')
dados.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor_m2,Tipo Agregado
0,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,53.33,Apartamento
1,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,16.67,Apartamento
2,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,26.00,Apartamento
3,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,21.43,Apartamento
4,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0,16.67,Apartamento
5,Apartamento,Copacabana,1,0,1,40,2000.0,561.0,50.0,50.00,Apartamento
6,Apartamento,Copacabana,4,3,1,243,13000.0,2000.0,803.0,53.50,Apartamento
7,Apartamento,Freguesia (Jacarepaguá),3,0,0,54,950.0,300.0,28.0,17.59,Apartamento
8,Apartamento,Barra da Tijuca,2,1,1,67,1700.0,589.0,147.0,25.37,Apartamento
9,Apartamento,Tijuca,2,1,0,110,1900.0,700.0,138.0,17.27,Apartamento

In [5]:
# 1 e 2
# 3 e 4
# 5 e 6
# 7 ou mais
classes = [0, 2, 4, 6, 100]

In [8]:
quartos = pd.cut(dados['Quartos'], classes)
quartos

0        (0, 2]
1        (0, 2]
2        (0, 2]
3        (0, 2]
4        (2, 4]
          ...
18775    (0, 2]
18776    (0, 2]
18777    (2, 4]
18778    (0, 2]
18779    (0, 2]
Name: Quartos, Length: 18780, dtype: category
Categories (4, interval[int64]): [(0, 2] < (2, 4] < (4, 6] < (6, 100]]

In [9]:
pd.value_counts(quartos)

(0, 2]      9823
(2, 4]      8693
(4, 6]       240
(6, 100]       9
Name: Quartos, dtype: int64

In [10]:
labels = ['1 e 2 quartos', '3 e 4 quartos', '5 e 6 quartos', '7 ou mais quartos']

In [11]:
quartos = pd.cut(dados['Quartos'], classes, labels= labels)

In [12]:
pd.value_counts(quartos)

1 e 2 quartos        9823
3 e 4 quartos        8693
5 e 6 quartos         240
7 ou mais quartos       9
Name: Quartos, dtype: int64

In [14]:
labels = ['0 e 2 quartos', '3 e 4 quartos', '5 e 6 quartos', '7 ou mais quartos']
quartos = pd.cut(dados['Quartos'], classes, labels= labels, include_lowest= True)
pd.value_counts(quartos)

0 e 2 quartos        9838
3 e 4 quartos        8693
5 e 6 quartos         240
7 ou mais quartos       9
Name: Quartos, dtype: int64