In [1]:
import pandas as pd 
import os
#LÃª o caminho atual: os.path.join(current_path,'ml-latest-small',"rating.csv" )
current_path = os.getcwd()
notas = pd.read_csv(os.path.join(current_path,'ml-latest-small','ratings.csv'), sep=None)

notas.head()

<ipython-input-1-d9ace335c8e0>:5: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support sep=None with delim_whitespace=False; you can avoid this warning by specifying engine='python'.
  notas = pd.read_csv(os.path.join(current_path,'ml-latest-small','ratings.csv'), sep=None)

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [2]:
notas.shape

(100836, 4)

In [3]:
notas.columns = ["usuarioiD", "filmeID", "nota", "momento"]

In [4]:
notas.head()

   usuarioiD  filmeID  nota    momento
0          1        1   4.0  964982703
1          1        3   4.0  964981247
2          1        6   4.0  964982224
3          1       47   5.0  964983815
4          1       50   5.0  964982931