In [1]:
import pandas as pd

In [2]:
dados = pd.DataFrame({'Profissão': [1, 2, 3, 1, 2, 2, 2, 3, 3, 2, 1, 3]})

In [3]:
dados

    Profissão
0           1
1           2
2           3
3           1
4           2
5           2
6           2
7           3
8           3
9           2
10          1
11          3

In [4]:
frequencia = dados['Profissão'].value_counts()

In [5]:
frequencia

2    5
3    4
1    3
Name: Profissão, dtype: int64

In [6]:
percentual = dados['Profissão'].value_counts(normalize=True) * 100

In [7]:
percentual

2    41.666667
3    33.333333
1    25.000000
Name: Profissão, dtype: float64

In [8]:
dist_freq_qualitativas = pd.DataFrame({'Frequência': frequencia,' Porcentagem (%)': percentual})

In [9]:
dist_freq_qualitativas.rename(index={1:'Estatístico', 2:'Cientista de Dados', 3:'Programador Python'} ,inplace=True)
dist_freq_qualitativas.rename_axis('Profissão', axis='columns', inplace=True)

In [10]:
dist_freq_qualitativas

Profissão           Frequência   Porcentagem (%)
Cientista de Dados           5         41.666667
Programador Python           4         33.333333
Estatístico                  3         25.000000