In [1]:
import pandas as pd

In [2]:
dados = pd.DataFrame({'Profissão': [1, 2, 3, 1, 2, 2, 2, 3, 3, 2, 1, 3]})

In [3]:
dados

    Profissão
0           1
1           2
2           3
3           1
4           2
5           2
6           2
7           3
8           3
9           2
10          1
11          3

In [4]:
frequencia = dados['Profissão'].value_counts()

In [5]:
frequencia

2    5
3    4
1    3
Name: Profissão, dtype: int64

In [6]:
percentual = dados['Profissão'].value_counts(normalize=True) * 100

In [7]:
percentual

2    41.666667
3    33.333333
1    25.000000
Name: Profissão, dtype: float64

In [8]:
dist_freq_qualitativas = pd.DataFrame({'Frequência': frequencia,' Porcentagem (%)': percentual})

In [9]:
dist_freq_qualitativas.rename(index={1:'Estatístico', 2:'Cientista de Dados', 3:'Programador Python'} ,inplace=True)
dist_freq_qualitativas.rename_axis('Profissão', axis='columns', inplace=True)

In [10]:
dist_freq_qualitativas

Profissão           Frequência   Porcentagem (%)
Cientista de Dados           5         41.666667
Programador Python           4         33.333333
Estatístico                  3         25.000000

### Exercicio 02

In [15]:
dados = pd.read_csv('dados/dados.csv',sep=',')
dados.head(5)

   UF  Sexo  Idade  Cor  Anos de Estudo  Renda    Altura
0  11     0     23    8              12    800  1.603808
1  11     1     23    2              12   1150  1.739790
2  11     1     35    8              15    880  1.760444
3  11     0     46    2               6   3500  1.783158
4  11     1     47    8               9    150  1.690631

In [19]:
classes = [dados.Altura.min().round(2), 1.65, 1.75, dados.Altura.max().round(2)]
print(classes)
labels = ['1 - Baixa', '2 - Média', '3 - Alta']

frequencia = pd.value_counts(
    pd.cut(
        x = dados.Altura,
        bins = classes,
        labels = labels,
        include_lowest = True
    )
)

percentual = pd.value_counts(
    pd.cut(
        x = dados.Altura,
        bins = classes,
        labels = labels,
        include_lowest = True
    ), normalize = True
) * 100

dist_freq_altura = pd.DataFrame(
    {'Frequência': frequencia, 'Porcentagem (%)': percentual}
)

dist_freq_altura.rename_axis('Estaturas', axis= 'columns', inplace = True)
dist_freq_altura.rename_axis('Faixas', axis= 'index', inplace = True)

dist_freq_altura.sort_index(ascending = True, inplace = True)

dist_freq_altura

[1.34, 1.65, 1.75, 2.03]

Estaturas  Frequência  Porcentagem (%)
Faixas
1 - Baixa       20528        26.715600
2 - Média       36162        47.062039
3 - Alta        20149        26.222361